@charset "UTF-8";
/* SASS Color Variable */
/* SASS Mixin */
/*///////////////////////////////////////////////////////////////////////////////////
//
//  common
//
///////////////////////////////////////////////////////////////////////////////////*/
@font-face {
  font-family: 'Noto Sans KR Light';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/notokr-light.woff") format("woff"), url("../fonts/notokr-light.eot") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/notokr-regular.woff") format("woff"), url("../fonts/notokr-regular.eot") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR Medium';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/notokr-medium.woff") format("woff"), url("../fonts/notokr-medium.eot") format("opentype");
}

@font-face {
  font-family: 'Noto Sans KR Bold';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/notokr-bold.woff") format("woff"), url("../fonts/notokr-bold.eot") format("opentype");
}

/* reset */
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
  display: block;
}

html {
  -webkit-text-size-adjust: none;
}

body {
  -webkit-text-size-adjust: none;
  word-break: break-all;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  color: #000;
  line-height: 16px;
  background: #fff;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* common */
input[type=checkbox],
input[type=radio] {
  width: 20px;
  height: 20px;
}

input[type=text],
input[type=email],
input[type=number],
input[type=url],
input[type=password],
input[type=submit],
input[type=button],
input[type=search],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* 아이폰 초기화 */
input[type=search]::-webkit-search-cancel-button {
  display: none;
}

/* 아이폰 초기화 */
textarea:focus {
  color: #444 !important;
}

select {
  height: 34px;
  padding: 0 28px 0 10px;
  color: #333;
  font-size: 13px;
  vertical-align: middle;
  border: 1px solid #e1e1e1;
  background: url("../../web/m/common/ic_select_arr.png") no-repeat right center #fff;
  background-size: 25px 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:active, a:focus {
  background: none;
  text-decoration: none;
}

.blind, hr {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -9999em;
  width: 0.1%;
  height: 0.1%;
  line-height: 0.1%;
  font-size: 0.1%;
}

.input {
  height: 40px;
  padding: 0 10px;
  border: 1px solid #e1e1e1;
  background: #fff;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em;
  color: #444;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input:focus {
  color: #444 !important;
}

/***** placeholder 기본색상 정의  *****/
::-webkit-input-placeholder {
  /* Chrome */
  color: #bfbfbf;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #bfbfbf;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #bfbfbf;
  opacity: 1;
}

:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: #bfbfbf;
  opacity: 1;
}

.textarea {
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  color: #444;
  line-height: normal !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.textarea::-webkit-textarea-placeholder {
  color: #bfbfbf !important;
}

/* common - select */
.select_custom_default {
  position: relative;
  height: 35px;
  padding: 6px 28px 6px 15px;
  border: 1px solid #ccc;
  color: #888;
  font-size: 12px;
  line-height: 13px;
  background-position: right top;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.select_custom_default:focus, .select_custom_default:active {
  color: #333;
  border-color: #2ac1bc;
}

/* 버튼 공통 스타일  */
.btn {
  display: inline-block;
  font-family: "Noto Sans KR", sans-serif;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.btn_gray {
  border: none;
  background: #aaa9a7;
  color: #fff;
}

.btn_gray:hover, .btn_gray:focus {
  background: #8a8885;
}

.btn_lgray {
  border: none;
  background: #918e87;
  color: #fff;
}

.btn_lgray:hover, .btn_lgray:focus {
  background: #8a8885;
}

.btn_darkgray {
  border: none;
  background: #737373;
  color: #fff;
}

.btn_darkgray:hover, .btn_darkgray:focus {
  background: #5c5c5c;
}

.btn_disabled {
  border: none;
  background: #bfbfbf;
  color: #fff;
}

.btn_disabled:hover, .btn_disabled:focus {
  background: #b7b7b7;
}

.btn_green {
  border: 1px solid #50942e;
  background: #66a348;
  color: #fff;
}

.btn_green:hover, .btn_green:focus {
  border: 1px solid #3a6c08;
  background: #390;
}

.btn_red {
  border: 1px solid #99360e;
  background: #d54617;
  color: #fff;
}

.btn_red:hover, .btn_red:focus {
  border: 1px solid #942a15;
  background: #c93f11;
}

.btn_orange {
  border: 1px solid #d04d20;
  background: #d04d20;
  color: #fff;
}

.btn_orange:hover, .btn_orange:focus {
  border: 1px solid #bf4015;
  background: #bf4015;
}

.btn_mint {
  border: none;
  background: #2ac1bc;
  color: #fff;
}

.btn_mint:hover, .btn_mint:focus {
  background: #17aba6;
}

.btn_mint_line {
  background: #fff;
  border: 1px solid #2ac1bc;
  color: #2ac1bc;
}

.btn_mint_line:hover, .btn_mint_line:focus {
  background: #f4f4f4;
}

.btn_white {
  border: 1px solid #ccc;
  background: #fff;
  color: #aaa9a7;
}

.btn_white:hover, .btn_white:focus {
  background: #f4f4f4;
}

/***** [18-05-11] 공통 버튼 사이즈 *****/
.btn-large, .btn_big {
  width: 100%;
  height: 60px;
  font-size: 17px;
  font-family: "Noto Sans KR Bold", sans-serif;
}

/***** 라디오 버튼, 체크박스 스타일 수정 ******/
.custom_input {
  display: inline-block;
  margin-right: 10px;
}

/* 라디오 버튼, 체크박스 기본 구조 */
.bf_input[type="radio"]:not(:checked), .bf_input[type="radio"]:checked,
.bf_input[type="checkbox"]:not(:checked), .bf_input[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
  color: #888;
}

.bf_input[type="radio"]:not(:checked) + label, .bf_input[type="radio"]:checked + label,
.bf_input[type="checkbox"]:not(:checked) + label, .bf_input[type="checkbox"]:checked + label {
  position: relative;
  padding: 0 0 0 25px;
  cursor: pointer;
  font-size: 12px;
}

.bf_input[type="radio"]:not(:checked) + label,
.bf_input[type="checkbox"]:not(:checked) + label {
  color: #333;
}

.bf_input[type="radio"]:checked + label,
.bf_input[type="checkbox"]:checked + label {
  color: #2ac1bc;
  font-weight: bold;
}

/* 라디오 버튼, 체크박스 기본 스타일 + 체크 스타일 */
.bf_input[type="radio"]:not(:checked) + label:before,
.bf_input[type="radio"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -2px;
  width: 17px;
  height: 17px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.bf_input[type="radio"]:not(:checked) + label:before {
  border: 1px solid #e1e1e1;
}

.bf_input[type="radio"]:checked + label:before {
  border: 1px solid #2ac1bc;
}

.bf_input[type="checkbox"]:not(:checked) + label:before,
.bf_input[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.bf_input.big[type="checkbox"]:not(:checked) + label:before,
.bf_input.big[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: -1px;
  width: 21px;
  height: 21px;
  border: 1px solid #ccc;
  background: #fff;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

/* 라디오 버튼, 체크박스 마크 스타일 */
.bf_input[type="radio"]:not(:checked) + label:after,
.bf_input[type="radio"]:checked + label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  display: block;
  width: 9px;
  height: 9px;
  background: #2ac1bc;
  transition: all .2s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.bf_input[type="checkbox"]:not(:checked) + label:after,
.bf_input[type="checkbox"]:checked + label:after {
  content: '\f00c';
  position: absolute;
  top: 1px;
  left: 2px;
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 14px;
  color: #2ac1bc;
  transition: all .2s;
}

.bf_input.big[type="checkbox"]:not(:checked) + label:after,
.bf_input.big[type="checkbox"]:checked + label:after {
  content: '\f00c';
  position: absolute;
  top: 3px;
  left: 4px;
  font-family: "FontAwesome";
  font-weight: normal;
  font-size: 16px;
  color: #2ac1bc;
  transition: all .2s;
}

/* 라디오 버튼, 체크박스 transform */
.bf_input[type="radio"]:not(:checked) + label:after,
.bf_input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  transform: scale(0);
}

.bf_input[type="radio"]:checked + label:after,
.bf_input[type="checkbox"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  transform: scale(1);
}

/* disabled radio, checkbox */
.bf_input[type="radio"]:disabled:not(:checked) + label:before,
.bf_input[type="radio"]:disabled:checked + label:before,
.bf_input[type="checkbox"]:disabled:not(:checked) + label:before,
.bf_input[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #ccc;
  background-color: #fff;
  opacity: 0.6;
}

.bf_input[type="radio"]:disabled:checked + label:after,
.bf_input[type="radio"]:disabled + label,
.bf_input[type="checkbox"]:disabled:checked + label:after,
.bf_input[type="checkbox"]:disabled + label {
  color: #888;
  opacity: 0.6;
}

/* accessibility */
.bf_input[type="checkbox"]:checked:focus + label:before,
.bf_input[type="checkbox"]:not(:checked):focus + label:before,
.bf_input[type="checkbox"]:checked:focus + label:before,
.bf_input[type="checkbox"]:not(:checked):focus + label:before {
  border: 1px solid #ccc;
}

/* hover style just for information */
.bf_input + label:hover:before {
  border: 1px solid #2ac1bc !important;
}

/***** layout *****/
#wrapper {
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 750px;
  width: 100%;
}

#header {
  position: relative;
  height: 38px;
}

#header h1 {
  text-align: center;
}

#header h1 a {
  display: inline-block;
  height: 38px;
  padding: 8px 0 7px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#header h1 a img {
  height: 23px;
}

#header a.btn-menu {
  overflow: hidden;
  position: absolute;
  left: 13px;
  top: 7px;
  width: 24px;
  height: 24px;
  text-indent: -3000px;
  background: url(../images/common/ic-menu-24-normal@2x.png) no-repeat center center;
  background-size: 24px;
}

#header a.btn-cart {
  overflow: hidden;
  position: absolute;
  right: 16px;
  top: 7px;
  width: 24px;
  height: 24px;
  text-indent: -3000px;
  background: url(../images/common/ic-cart-24-normal@2x.png) no-repeat center center;
  background-size: 24px;
}

#container {
  position: relative;
  min-height: 300px;
}

.content {
  position: relative;
}

#footer {
  position: relative;
  background: #f7f7f7;
  padding: 22px 20px;
  font-size: 8px;
}

#footer h2 {
  font-family: "Noto Sans KR Medium", sans-serif;
  font-size: 11px;
  border-bottom: 1px solid #d8d8d8;
  padding-bottom: 9px;
  margin-bottom: 11px;
}

#footer ul li {
  line-height: 19px;
}

#footer .copyright {
  text-align: center;
  border-top: 1px solid #d8d8d8;
  padding-top: 10px;
  margin-top: 11px;
}

/***** [main page content] *****/
.main-slogan {
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  padding: 20px 0 34px;
}

.main-slogan strong {
  color: #0082c9;
}

.content h2.title {
  font-family: "Noto Sans KR Medium", sans-serif;
  font-size: 18px;
  padding: 0 16px;
}

.content .build-book {
  position: relative;
  width: 100%;
  min-height: 254px;
  background: url(../images/contents/main-visual@2x.png) no-repeat center center;
  background-size: cover;
  padding-left: 16px;
  margin-top: 16px;
}

.content .build-book .text-box {
  position: absolute;
  left: 16px;
  bottom: 16px;
}

.content .build-book .text-box h1 {
  font-family: "Noto Sans KR Bold", sans-serif;
  font-size: 14px;
  margin-bottom: 7px;
}

.content .build-book .text-box h1 + p {
  font-size: 12px;
  margin-bottom: 12px;
}

.content .build-book .text-box a.btn-build {
  font-family: "Noto Sans KR Medium", sans-serif;
  position: relative;
  display: block;
  width: 140px;
  height: 36px;
  background: #fee734;
  font-size: 13px;
  text-align: left;
  line-height: 38px;
  padding-left: 24px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.content .build-book .text-box a.btn-build::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background: url(../images/common/ic-arrow-btn-16@2x.png) no-repeat center center;
  background-size: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -8px;
}

.content p.text {
  font-size: 13px;
  padding: 32px 0 10px;
  margin: 10px 16px 36px;
  background-image: url(../images/common/ic-quotes-left@2x.png), url(../images/common/ic-quotes-right@2x.png);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  background-size: 30px;
}

.content p.text em {
  display: inline-block;
  font-family: "Noto Sans KR Medium", sans-serif;
  font-size: 14px;
  font-style: normal;
  color: #0082c9;
  margin-bottom: 11px;
}

.content p.text strong {
  font-family: "Noto Sans KR Bold", sans-serif;
  color: #0082c9;
}

.content h3.title {
  font-family: "Noto Sans KR Medium", sans-serif;
  font-size: 16px;
  text-align: center;
  margin-bottom: 23px;
}

.content .count-box {
  margin-bottom: 60px;
  font-size: 38px;
  color: #00bdf1;
  text-align: center;
}

.content .count-box span {
  display: inline-block;
  width: 38px;
  height: 57px;
  margin-right: 0px;
  background: #00bdf1;
  font-family: "Noto Sans KR Bold", sans-serif;
  font-size: 38px;
  color: #fff;
  line-height: 60px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.content .instar-list {
  overflow: hidden;
  margin: 10px 10px 24px 16px;
}

.content .instar-list li {
  display: inline-block;
  float: left;
  width: 105px;
  margin-right: 6px;
}

.content .instar-list li a {
  display: block;
}

.content .instar-list li a .instar-thumb {
  width: 105px;
  height: 105px;
  margin-bottom: 5px;
  background: #f7f7f7;
}

.content .instar-list li a .instar-thumb img {
  display: block;
  width: 100%;
}

.content .instar-list li a .instar-tag {
  font-size: 11px;
  color: #0082c9;
  min-height: 46px;
}

/****** 헤더, 서브 슬라이드 네비게이션 ******/
.header-navi {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 39px;
  background: #fff;
  z-index: 1001;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.header-navi .navi-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 69px;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.header-navi ul.slide-navi {
  white-space: nowrap;
  background: #fff;
}

.header-navi ul.slide-navi li {
  display: inline-block;
  min-width: 20%;
  text-align: center;
  margin-left: -4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-navi ul.slide-navi li a {
  display: inline-block;
  height: 39px;
  padding: 13px 6px 0;
  margin: 0;
  font-size: 15px;
  color: #232323;
  border-bottom: 3px solid #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header-navi ul.slide-navi li a.now, .header-navi ul.slide-navi li a:active, .header-navi ul.slide-navi li a:focus {
  font-weight: bold;
  color: #2ac1bc;
  border-bottom: 3px solid #2ac1bc;
}

/***** top scroller *****/
#scroller {
  display: none;
  position: fixed;
  right: 10px;
  bottom: 10px;
  z-index: 600;
}

#scroller .btn-goto-top {
  overflow: hidden;
  display: block;
  width: 48px;
  height: 48px;
  text-indent: -3000px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: url("../../web/m/common/ico-goto-top.png") no-repeat center center #fff;
  background-size: 18px auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** 아이프레임 마진 삭제 *****/
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}

/***** [공통] 서브 탭 메뉴 스타일 *****/
.sticky-sub-tab {
  overflow: hidden;
  z-index: 1000;
  background: #fff;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em;
}

.sticky-sub-tab li {
  float: left;
  background: #fff;
  position: relative;
  display: block;
  min-height: 48px;
  font-size: 16px;
  text-align: center;
  padding-top: 15px;
  border-bottom: 1px solid #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sticky-sub-tab li.on, .sticky-sub-tab li:focus {
  color: #2ac1bc;
  font-family: "Noto Sans KR Bold", sans-serif;
  border-bottom: 2px solid #2ac1bc;
}

.sticky-sub-tab.point-history-tab li,
.sticky-sub-tab.order-state-tab li {
  width: 33.3333%;
}

.sticky-sub-tab.coupon-box-tab li:first-child {
  width: 45%;
}

.sticky-sub-tab.coupon-box-tab li:last-child {
  width: 55%;
}

.sticky-sub-tab.find-tab li {
  width: 50%;
}

.sticky-sub-tab.new-welcome-tab li {
  width: 25%;
}

/***** [공통] 토글 스위치 ******/
.toggle-item {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 38px;
  padding-left: 150px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toggle-item .toggle-switch[type="checkbox"] {
  /* 체크박스 숨김처리  */
  /* 토글 레이블 */
  /* 토글 스위치 off 스타일 */
  /* 토글 스위치 on 스타일 */
}

.toggle-item .toggle-switch[type="checkbox"]:not(:checked), .toggle-item .toggle-switch[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.toggle-item .toggle-switch[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
  display: block;
  min-width: 150px;
  height: 38px;
}

.toggle-item .toggle-switch[type="checkbox"] + label span {
  overflow: hidden;
  display: inline-block;
  min-width: 80px;
  font-size: 15px;
  color: #333;
  text-align: right;
  position: absolute;
  right: 76px;
  top: 50%;
  -webkit-transform: translate(0, -40%);
  -moz-transform: translate(0, -40%);
  transform: translate(0, -40%);
}

.toggle-item .toggle-switch[type="checkbox"] + label::before {
  content: '';
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  width: 66px;
  height: 38px;
  background: #d9d9d9;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  border-radius: 22px;
}

.toggle-item .toggle-switch[type="checkbox"] + label::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 2px;
  width: 34px;
  height: 34px;
  background: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.toggle-item .toggle-switch[type="checkbox"]:checked + label::before {
  background: #2ac1bc;
}

.toggle-item .toggle-switch[type="checkbox"]:checked + label::after {
  right: 2px;
}

/***** [공통] 툴팁 스타일 *****/
.validation-tooltip-box {
  text-align: center;
}

.validation-tooltip-box .validation-tooltip {
  position: relative;
  display: inline-block;
  font-size: 13px;
  color: #fff;
  text-align: center;
  padding: 6px 15px 4px;
  background: #2ac1bc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.validation-tooltip-box .validation-tooltip::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #2ac1bc;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
}

.validation-tooltip-box .validation-tooltip.arr-up {
  margin-top: 7px;
}

.validation-tooltip-box .validation-tooltip.arr-up::after {
  top: -5px;
}

.validation-tooltip-box .validation-tooltip.arr-down {
  margin-bottom: 7px;
}

.validation-tooltip-box .validation-tooltip.arr-down::after {
  bottom: -5px;
}

.validation-tooltip-box .validation-tooltip.arr-up.left::after, .validation-tooltip-box .validation-tooltip.arr-down.left::after {
  left: 25px;
}

.validation-tooltip-box .validation-tooltip.arr-up.center::after, .validation-tooltip-box .validation-tooltip.arr-down.center::after {
  left: 50%;
  margin-left: -5px;
}

.validation-tooltip-box .validation-tooltip.arr-up.right::after, .validation-tooltip-box .validation-tooltip.arr-down.right::after {
  right: 25px;
}

.validation-tooltip-box .validation-tooltip.arr-left {
  margin-left: 7px;
}

.validation-tooltip-box .validation-tooltip.arr-left::after {
  left: -5px;
}

.validation-tooltip-box .validation-tooltip.arr-right {
  margin-right: 7px;
}

.validation-tooltip-box .validation-tooltip.arr-right::after {
  right: -5px;
}

.validation-tooltip-box .validation-tooltip.arr-left.top::after, .validation-tooltip-box .validation-tooltip.arr-right.top::after {
  top: 20px;
}

.validation-tooltip-box .validation-tooltip.arr-left.center::after, .validation-tooltip-box .validation-tooltip.arr-right.center::after {
  top: 50%;
  margin-top: -5px;
}

.validation-tooltip-box .validation-tooltip.arr-left.bottom::after, .validation-tooltip-box .validation-tooltip.arr-right.bottom::after {
  bottom: 20px;
}

/***** [18-05-08] [공통] 신규 커스텀 체크박스 *****/
.list_block {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 15px;
  letter-spacing: -0.05em;
  position: relative;
  /* 회원가입 - 약관 동의 */
  /* 로그인 박스 - 아이디 비밀번호 저장 */
  /* 회원탈퇴 - 설문조사 */
  /* 주문자 정보 - 주문관련 SMS 수신 */
  /* 결제하기 - 배송지 정보 새로 입력 */
  /* 소셜로그인 주문완료 - 이메일 마케팅 동의 */
  /* 장바구니 - 전체 선택 */
  /* 장바구니 - 레이블이 없는 input */
  /* 배송 받는 날 선택하기 - 배송요일 */
  /* 배송 받는 날 선택하기 - 배송 요일 확인 버튼 */
}

.list_block li {
  position: relative;
}

.list_block input.custom_chk[type="checkbox"] {
  display: none;
}

.list_block input.custom_chk[type="checkbox"] + label {
  position: relative;
  cursor: pointer;
}

.list_block input.custom_chk[type="checkbox"]:not(checked) + label::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border: 1.5px solid #d9d9d9;
  background: url(../../web/m/common/ico-chk-off.png) no-repeat center center #fff;
  background-size: 24px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.list_block input.custom_chk[type="checkbox"]:checked + label::before {
  border-color: #2ac1bc;
  background: url(../../web/m/common/ico-chk-on.png) no-repeat center center #2ac1bc;
  background-size: 24px;
}

.list_block.join {
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
  /* 결제하기 하단 - 동의 */
}

.list_block.join li {
  padding: 20px 16px 16px 16px;
}

.list_block.join li label {
  position: relative;
  display: block;
}

.list_block.join li.all-agree {
  border-bottom: 1px solid #e6e6e6;
}

.list_block.join li.all-agree label {
  font-family: "Noto Sans KR Bold", sans-serif;
}

.list_block.join li input.custom_chk[type="checkbox"]:not(:checked) + label:before,
.list_block.join li input.custom_chk[type="checkbox"]:checked + label:before {
  position: absolute;
  right: 0;
  top: -3px;
  margin-right: 0;
}

.list_block.join li a {
  display: inline-block;
  font-size: 12px;
  color: #999;
  line-height: 1.2em;
  border-bottom: 1px solid #999;
  position: relative;
  top: -3px;
}

.list_block.join li a:hover, .list_block.join li a:focus {
  border-color: #2ac1bc;
  color: #2ac1bc;
}

.list_block.join li ul.sub_block li {
  border: none;
  padding: 0 0 14px;
}

.list_block.join li ul.sub_block li:last-child {
  padding-bottom: 7px;
}

.list_block.join li ul.sub_block.marketing li {
  padding: 0 0 33px;
}

.list_block.join li ul.sub_block.marketing li:last-child {
  padding-bottom: 5px;
}

.order_agree .list_block.join {
  margin-top: 15px;
  padding: 15px 16px 16px;
}

.order_agree .list_block.join li {
  padding: 5px 0;
}

.order_agree .list_block.join li.all-agree {
  padding-bottom: 17px;
}

.order_agree .list_block.join li ul.sub_block {
  padding-top: 14px;
}

.order_agree .list_block.join li ul.sub_block li {
  padding-bottom: 20px;
}

.order_agree .list_block.join li ul.sub_block li:last-child {
  padding-bottom: 5px;
}

.order_agree .list_block.join li input.custom_chk[type="checkbox"]:not(checked) + label:before {
  margin-right: 0;
}

.list_block.login {
  overflow: hidden;
  margin: 10px 0 19px;
}

.list_block.login li {
  float: left;
  margin-right: 20px;
  color: #333;
  font-size: 13px;
}

.list_block.login li input.custom_chk[type="checkbox"] + label span {
  position: relative;
  top: 1px;
}

.list_block.survey {
  margin-bottom: 20px;
}

.list_block.survey li {
  margin-right: 20px;
  color: #888;
  font-size: 13px;
  line-height: 2.65em;
}

.list_block.survey li input.custom_chk[type="checkbox"] + label:before {
  margin: -2px 7px 0 0;
}

.list_block.reception_sms {
  padding: 5px 0 10px;
  font-size: 13px;
}

.list_block.reception_sms input.custom_chk[type="checkbox"] + label span {
  position: relative;
  top: 1px;
}

.list_block.new-address-chk {
  padding: 17px 0 10px;
  font-size: 13px;
}

.list_block.new-address-chk input.custom_chk[type="checkbox"] + label span {
  position: relative;
  top: 1px;
}

.list_block.email_marketing {
  overflow: hidden;
  margin: 13px 0 17px;
  line-height: 1.6em;
}

.list_block.email_marketing li {
  float: left;
  color: #7b7e85;
  font-size: 13px;
}

.list_block.email_marketing li input[type="checkbox"] + label {
  color: #888;
  font-size: 13px;
}

.list_block.email_marketing li input[type="checkbox"] + label span {
  position: relative;
  top: 1px;
  color: #333;
}

.list_block.select-all {
  font-size: 14px;
}

.list_block.select-all input.custom_chk[type="checkbox"] + label span {
  position: relative;
  top: 1px;
}

.list_block.nolabel {
  float: left;
  overflow: hidden;
  margin-right: 8px;
}

.list_block.nolabel label {
  position: relative;
  cursor: pointer;
}

.list_block.nolabel label input.custom_chk[type="checkbox"] {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
  width: 24px;
  height: 24px;
  margin: 0;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.list_block.nolabel label input.custom_chk[type="checkbox"]:not(checked)::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1.5px solid #d9d9d9;
  background: url(../../web/m/common/ico-chk-off.png) no-repeat center center #fff;
  background-size: 24px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.list_block.nolabel label input.custom_chk[type="checkbox"]:checked::before {
  border-color: #2ac1bc;
  background: url(../../web/m/common/ico-chk-on.png) no-repeat center center #2ac1bc;
  background-size: 24px;
}

.list_block.receipt-day {
  overflow: hidden;
}

.list_block.receipt-day li {
  float: left;
  margin-right: 20px;
  color: #333;
  font-size: 13px;
}

.list_block.receipt-day li input.custom_chk[type="checkbox"]:not(checked) + label:before {
  width: 20px;
  height: 20px;
}

.list_block.receipt-day li input.custom_chk[type="checkbox"] + label span {
  position: relative;
  top: 1px;
}

.list_block.cfrm_ok {
  margin-top: 10px;
}

.list_block.cfrm_ok input.custom_chk[type="checkbox"]:not(checked) + label:before {
  width: 20px;
  height: 20px;
}

.list_block.cfrm_ok input.custom_chk[type="checkbox"] + label {
  margin-left: 3px;
  font-size: 13px;
}

/***** [2018-03-22] 신규 상품검색페이지 *****/
/* 검색어 입력폼 */
.search-form label {
  position: relative;
  display: block;
  margin: 16px;
}

.search-form label .del {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  border: none;
  text-indent: -3000px;
  background: url(../../web/m/common/ic-form-delete.png) no-repeat center center;
  background-size: 25px;
}

.search-form .search-input {
  width: 100%;
  height: 48px;
  padding: 0 40px 0 40px;
  border: 1px solid #2ac1bc;
  background: url(../../web/m/common/bf-icon-search.png) no-repeat 12px center #fff;
  background-size: 20px;
  font-size: 15px;
  color: #121212;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-form .search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}

.search-form .search-input::-moz-placeholder {
  color: #bfbfbf;
}

.search-form .search-input:focus + .del {
  display: block;
}

/* 상품검색 탭 */
.search-tab-container {
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em;
  margin: 0 16px 16px;
  /* 검색어 목록 박스 */
}

.search-tab-container .tab-list {
  overflow: hidden;
}

.search-tab-container .tab-list li {
  float: left;
  width: 50%;
  padding: 14px 0 12px;
  font-size: 15px;
  color: #737373;
  line-height: 1.5em;
  text-align: center;
  background: #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-tab-container .tab-list li.on {
  background: #2ac1bc;
  color: #fff;
  font-family: "Noto Sans KR Bold", sans-serif;
}

.search-tab-container .tab-content {
  position: relative;
  font-size: 15px;
}

.search-tab-container .tab-content p {
  /* 최근 검색어가 없을 경우 */
  font-size: 15px;
  color: #333;
  text-align: center;
  padding: 150px 0;
}

.search-tab-container .tab-content ul {
  background: #fff;
}

.search-tab-container .tab-content ul li {
  position: relative;
  border-bottom: 1px solid #e6e6e6;
}

.search-tab-container .tab-content ul li a {
  display: block;
  color: #333;
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.search-tab-container .tab-content ul.recommend-list li a {
  padding: 15px 15px 11px;
}

.search-tab-container .tab-content ul.recommend-list li a span {
  display: inline-block;
  width: 15px;
  margin-right: 12px;
  text-align: center;
}

.search-tab-container .tab-content ul.recommend-list li:nth-child(1) a,
.search-tab-container .tab-content ul.recommend-list li:nth-child(2) a,
.search-tab-container .tab-content ul.recommend-list li:nth-child(3) a {
  color: #2ac1bc;
  font-family: "Noto Sans KR Bold", sans-serif;
}

.search-tab-container .tab-content ul.recent-list li a {
  padding: 15px 90px 11px 16px;
}

.search-tab-container .tab-content ul.recent-list li .date {
  position: absolute;
  top: 50%;
  right: 48px;
  -webkit-transform: translate(0, -43%);
  -moz-transform: translate(0, -43%);
  transform: translate(0, -43%);
  color: #bfbfbf;
  line-height: 1.5em;
  text-align: right;
}

.search-tab-container .tab-content ul.recent-list li .del {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 100%;
  background: url(../../web/m/common/ico-list-delete.png) no-repeat center center;
  background-size: 16px;
  border: none;
}

/***** 메인 슬라이드 배너 *****/
.main-banner-slide {
  position: relative;
  overflow: hidden;
  background: #ccc;
  margin-bottom: 13px;
  text-align: center;
  color: #fff;
}

.main-banner-slide li.swiper-slide a {
  display: block;
  position: relative;
}

.main-banner-slide li.swiper-slide .gradation-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 2%, transparent 30%, transparent 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 2%, transparent 30%, transparent 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 2%, transparent 30%, transparent 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.main-banner-slide li.swiper-slide .gradation-bg h2, .main-banner-slide li.swiper-slide .gradation-bg p {
  width: 78%;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-banner-slide li.swiper-slide .gradation-bg h2 {
  position: absolute;
  left: 15px;
  bottom: 12px;
  font-family: "Noto Sans KR Bold", sans-serif;
  font-size: 20px;
}

.main-banner-slide li.swiper-slide .gradation-bg p {
  position: absolute;
  left: 15px;
  bottom: 40px;
  font-size: 15px;
}

.main-banner-slide .swiper-pagination.main-banner-pagination {
  position: absolute;
  bottom: 14px;
  right: 15px;
  left: inherit;
  width: 14%;
  font-size: 14px;
  text-align: right;
}

.main-banner-slide .swiper-pagination.main-banner-pagination .swiper-pagination-current {
  font-weight: bold;
}

.main-banner-slide .swiper-pagination.main-banner-pagination .swiper-pagination-total {
  color: #bdbdbd;
}

/***** 메인 이벤트 배너 *****/
.main-event-banner {
  margin-bottom: 13px;
}

.main-event-banner a {
  display: block;
  overflow: hidden;
  position: relative;
}

.main-event-banner a p {
  position: absolute;
  z-index: -1;
}

/***** 메인 탭메뉴 *****/
.main-category-tab {
  overflow: hidden;
  border-bottom: 2px solid #2ac1bc;
  background: #e8ecf0;
  z-index: 1000;
}

.main-category-tab li {
  width: 20%;
  float: left;
}

.main-category-tab li:last-child a {
  margin-right: 0;
}

.main-category-tab li a {
  display: block;
  overflow: hidden;
  height: 62px;
  margin-right: 1px;
  color: #595959;
  font-size: 12px;
  text-align: center;
  background: #fff;
}

.main-category-tab li a span.icon {
  display: block;
  width: 31px;
  height: 31px;
  margin: 6px auto 5px;
  background: url(../../web/m/common/main-category-tab-v2.png) no-repeat;
  background-size: auto 62px;
}

.main-category-tab li.side-dish a span.icon {
  background-position: 0 top;
}

.main-category-tab li.soup a span.icon {
  background-position: -31px top;
}

.main-category-tab li.main-courses a span.icon {
  background-position: -62px top;
}

.main-category-tab li.kids a span.icon {
  background-position: -93px top;
}

.main-category-tab li.set-of-side a span.icon {
  background-position: -124px top;
}

.main-category-tab li.fresh a span.icon {
  background-position: -155px top;
}

.main-category-tab li.refreshment a span.icon {
  background-position: -186px top;
}

.main-category-tab li.on a {
  background: #2ac1bc;
  color: #fff;
}

.main-category-tab li.on a span.icon {
  background-image: url(../../web/m/common/main-category-tab-v2.png);
  background-size: auto 62px;
}

.main-category-tab li.side-dish.on a span.icon {
  background-position: 0 bottom;
}

.main-category-tab li.soup.on a span.icon {
  background-position: -31px bottom;
}

.main-category-tab li.main-courses.on a span.icon {
  background-position: -62px bottom;
}

.main-category-tab li.kids.on a span.icon {
  background-position: -93px bottom;
}

.main-category-tab li.set-of-side.on a span.icon {
  background-position: -124px bottom;
}

.main-category-tab li.fresh.on a span.icon {
  background-position: -155px bottom;
}

.main-category-tab li.refreshment.on a span.icon {
  background-position: -186px bottom;
}

/***** 메인 카테고리 타이틀 *****/
.main-category-title {
  background: #2ac1bc;
  height: 37px;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #fff;
  line-height: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/***** 상태 뱃지 ******/
.badge-area {
  overflow: hidden;
}

.badge-area .badge {
  display: inline-block;
  float: left;
  min-width: 60px;
  min-height: 18px;
  margin: 0;
  padding: 3px 4px 1px;
  color: #fff;
  font-size: 11px;
  line-height: 1.3em;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.badge-area .badge.event {
  background: rgba(198, 168, 165, 0.95);
}

.badge-area .badge.launching {
  background: rgba(205, 150, 150, 0.95);
}

.badge-area .badge.gift {
  background: rgba(157, 143, 142, 0.95);
}

.badge-area .badge.best {
  background: rgba(145, 169, 190, 0.95);
}

.badge-area .badge.coupon {
  background: rgba(121, 146, 154, 0.95);
}

.badge-area .badge.free {
  background: rgba(103, 171, 169, 0.95);
}

.badge-area .badge.finish {
  background: rgba(102, 102, 102, 0.95);
}

.badge-area .badge.stock {
  background: rgba(102, 102, 102, 0.95);
}

.badge-area .badge.soldout {
  background: rgba(64, 64, 64, 0.95);
}

/***** 메인 상품목록 박스 *****/
.main-category-box {
  margin-bottom: 45px;
}

.main-category-box:last-child {
  margin-bottom: 15px;
}

/***** 신규 섬네일 *****/
.product-list {
  overflow: hidden;
  background: #fff;
  padding: 15px;
}

.product-list li {
  position: relative;
  margin-bottom: 30px;
}

.product-list li a {
  position: relative;
  display: block;
}

.product-list li a .thumb {
  display: block;
  overflow: hidden;
  position: relative;
  padding-top: 59.42%;
  margin-bottom: 8px;
}

.product-list li a .thumb.class-loading {
  background: #f2f2f2 url(../../web/m/common/bg-no-img.png) center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.product-list li a .thumb.class-loading img {
  opacity: 0;
}

.product-list li a .thumb img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.product-list li a .thumb img.loaded {
  opacity: 1;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.product-list li a .thumb::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-list li a .badge-area {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.product-list li a .product-info .name {
  font-size: 17px;
  color: #333;
  letter-spacing: -0.06em;
  margin-bottom: 2px;
  font-family: "Noto Sans KR Medium", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-list li a .product-info .text {
  font-size: 14px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-list li a .product-info .star-rating {
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 3px;
}

.product-list li a .product-info .star-rating .review-score-bg {
  position: relative;
  float: left;
  overflow: hidden;
  width: 72px;
  height: 13px;
  background: url(../../web/m/common/ico-star.png) no-repeat left top;
  background-size: 72px;
}

.product-list li a .product-info .star-rating .review-score-bg .review-score {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-indent: -3000px;
  background: url(../../web/m/common/ico-star.png) no-repeat left bottom;
  background-size: 72px;
}

.product-list li a .product-info .star-rating .review-count {
  font-size: 14px;
  color: #999;
  padding-left: 77px;
  position: relative;
  top: -1px;
}

.product-list li a .product-info .price {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.product-list li a .product-info .price .sale-price {
  font-size: 14px;
  color: #2ac1bc;
}

.product-list li a .product-info .price .sale-price strong {
  font-family: "Noto Sans KR Bold", sans-serif;
  font-weight: 900;
  font-size: 21px;
  display: inline-block;
  position: relative;
  top: 1px;
}

.product-list li a .product-info .price .original-price {
  font-size: 14px;
  color: #bfbfbf;
  padding-left: 5px;
}

.product-list li .btn-cart {
  overflow: hidden;
  display: block;
  width: 72px;
  height: 36px;
  text-indent: -3000px;
  background: url(../../web/m/common/ico-btn-list-cart.png) no-repeat center center #2ac1bc;
  background-size: 24px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.product-list li .btn-cart:hover, .product-list li .btn-cart:focus {
  background-color: #279999;
}

.product-list li .thumb-badge {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  font-family: "Noto Sans KR Bold", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  /* 베스트30 랭킹뱃지 */
  /* 할인율 뱃지 */
}

.product-list li .thumb-badge.ranking {
  width: 30px;
  height: 30px;
  background: rgba(251, 103, 103, 0.9);
}

.product-list li .thumb-badge.sale {
  width: 44px;
  height: 44px;
  background: rgba(251, 103, 103, 0.9);
  line-height: 44px;
}

.product-list li .thumb-badge.sale .unit {
  font-size: 11px;
}

/***** 상품 바로담기 신규 ****
.prd-account-wrap{
  overflow: hidden; position: absolute; right: 15px; bottom: 15px;
  .prd-account{
    position: relative; float: left; margin-right: 7px;
    .count-control{
      direction: rtl;
      border: 1px solid #d9d9d9;
      width: 65px; height: 32px;
      font-size: 17px; color: #595959; line-height: 30px; letter-spacing: -0.05em; text-align: center; text-align-last: center;
      padding: 0 38px 0 5px;
      background: url(../../web/m/common/btn-count-control.png) no-repeat right center #fff;
      background-size: 31px;
      @include border-radius(0);
      @include box-sizing;
    }
    &::after{
      content: "";
      display: block;
      width: 1px; height: 32px;
      border-left: 1px solid #d9d9d9;
      position: absolute; right: 31px; top: 0;
    }
  }
  .btn-cart{
    overflow: hidden; display: block; float: right;
    width: 50px; height: 32px; text-indent: -3000px;
    background: url(../../web/m/common/bf-btn-cart.png) no-repeat center center $color-mint;
    background-size: 23px;
    &:hover, &:focus{background-color: #279999;}
  }
}
*/
/***** 메인 상품 더보기 버튼 영역  *****/
.main-category-box a.btn-more {
  position: relative;
  display: block;
  height: 50px;
  background: #fff;
  border-top: 1px solid #e8ecf0;
  font-size: 16px;
  text-align: center;
  padding-top: 17px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.main-category-box a.btn-more strong {
  font-weight: bold;
}

.main-category-box a.btn-more::after {
  content: '';
  display: inline-block;
  margin-left: 4px;
  vertical-align: middle;
  margin-top: -3px;
  width: 18px;
  height: 18px;
  background: url(../../web/m/common/bf-icon-more.png) no-repeat center center;
  background-size: 18px;
}

/* [17-08-17] snb renewal */
#snb_menu {
  display: none;
  left: -100%;
  width: 85%;
  max-width: 85%;
}

@media screen and (min-width: 320px), (orientation: landscape) {
  #snb_menu {
    width: 320px;
  }
}

.snb {
  position: fixed;
  top: 0;
  z-index: 100000;
  height: 100%;
  background: #f2f2f2;
}

.snb .area {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.snb-header {
  color: #fff;
  background: #4c453c;
}

.snb-header .snb-top {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 55px;
}

.snb-header .btn-login {
  display: inline-block;
  height: 28px;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid rgba(242, 242, 242, 0.5);
  padding: 4px 15px 5px 15px;
  margin: 12px 5px 15px 15px;
  float: left;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-header .u-info {
  display: inline-block;
  height: 55px;
  font-size: 17px;
  padding: 18px 15px 14px 14px;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-header .u-info .u-name {
  display: inline-block;
  font-weight: bold;
  max-width: 125px;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.snb-header .u-info .u-grade {
  display: inline-block;
  position: relative;
  top: -2px;
  max-width: 80px;
  height: 20px;
  padding: 4px 7px 1px;
  line-height: 1.0em;
  font-size: 12px;
  color: #908d89;
  border: 1px solid #908d89;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-header .btn-box {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 90px;
  height: 55px;
}

.snb-header .btn-box .btn {
  float: right;
  width: 45px;
  height: 55px;
  border: none;
  text-indent: -9999em;
  background: no-repeat center center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-header .btn-login:hover, .snb-header .btn-login:active, .snb-header .btn-login:focus,
.snb-header .btn-box .btn:hover, .snb-header .btn-box .btn:active, .snb-header .btn-box .btn:focus {
  background-color: #423b31;
}

.snb-header .btn.btn-setting {
  background-image: url(../../web/m/common/ic-snb-setting.png);
  background-size: 40px;
}

.snb-header .btn.btn-snb-close {
  background-image: url(../../web/m/common/ic-snb-close.png);
  background-size: 18px;
}

.snb-header .quick-link {
  overflow: hidden;
  border-top: 1px solid #423b31;
}

.snb-header .quick-link li {
  width: 25%;
  float: left;
}

.snb-header .quick-link li:first-child {
  border-left: none;
}

.snb-header .quick-link li a {
  display: block;
  font-size: 12px;
  text-align: center;
  height: 75px;
  padding-top: 17px;
  border-left: 1px solid #423b31;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-header .quick-link a:active, .snb-header .quick-link a:focus {
  background: #423b31;
}

.snb-header .quick-link li a::before {
  content: '';
  display: block;
  width: 30px;
  height: 20px;
  margin: 0 auto 10px;
  background: url(../../web/m/common/ic-snb-quick-link-v2.png) no-repeat center top;
  background-size: 30px;
}

.snb-header .quick-link li.mypage a::before {
  background-position: center top;
}

.snb-header .quick-link li.order a::before {
  background-position: center -20px;
}

.snb-header .quick-link li.mileage a::before {
  background-position: center -40px;
}

.snb-header .quick-link li.coupon a::before {
  background-position: center -60px;
}

.snb-header .quick-link li.attendance a::before {
  background-position: center -80px;
}

.snb h2.title {
  overflow: hidden;
  font-size: 13px;
  color: #808080;
  padding: 20px 16px 6px;
}

.snb-category {
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.snb-category li {
  width: 50%;
  float: left;
  background: #fff;
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-category li:last-child {
  border-bottom: none;
}

.snb-category li:nth-child(even) {
  border-right: none;
}

.snb-category li a {
  position: relative;
  display: block;
  height: 51px;
  padding: 18px 25px 15px 54px;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-category li a:hover, .snb-category li a:active, .snb-category li a:focus {
  color: #10b6b0;
}

.snb-category li a::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 23px;
  margin-right: 10px;
  vertical-align: middle;
  background: url(../../web/m/common/ic-snb-category.png) no-repeat left top;
  background-size: 50px;
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.snb-category li.side-dish a::before {
  background-position: left 0;
}

.snb-category li.soup a::before {
  background-position: left -23px;
}

.snb-category li.main-courses a::before {
  background-position: left -46px;
}

.snb-category li.kids a::before {
  background-position: left -69px;
}

.snb-category li.menu a::before {
  background-position: left -92px;
}

.snb-category li.fresh a::before {
  background-position: left -115px;
}

.snb-category li.refreshment a::before {
  background-position: left -138px;
}

.snb-category li.brand a::before {
  background-position: left -161px;
}

.snb-category li.side-dish a:hover::before,
.snb-category li.side-dish a:active::before,
.snb-category li.side-dish a:focus::before {
  background-position: right 0;
}

.snb-category li.soup a:hover::before,
.snb-category li.soup a:active::before,
.snb-category li.soup a:focus::before {
  background-position: right -23px;
}

.snb-category li.main-courses a:hover::before,
.snb-category li.main-courses a:active::before,
.snb-category li.main-courses a:focus::before {
  background-position: right -46px;
}

.snb-category li.kids a:hover::before,
.snb-category li.kids a:active::before,
.snb-category li.kids a:focus::before {
  background-position: right -69px;
}

.snb-category li.menu a:hover::before,
.snb-category li.menu a:active::before,
.snb-category li.menu a:focus::before {
  background-position: right -92px;
}

.snb-category li.fresh a:hover::before,
.snb-category li.fresh a:active::before,
.snb-category li.fresh a:focus::before {
  background-position: right -115px;
}

.snb-category li.refreshment a:hover::before,
.snb-category li.refreshment a:active::before,
.snb-category li.refreshment a:focus::before {
  background-position: right -138px;
}

.snb-category li.brand a:hover::before,
.snb-category li.brand a:active::before,
.snb-category li.brand a:focus::before {
  background-position: right -161px;
}

/* 테마존 목록 */
.snb-theme-zone {
  overflow: hidden;
  margin: 0 12px 20px;
  background: #fff;
  border-bottom: 1px solid #e6e6e6;
}

.snb-theme-zone li {
  width: 50%;
  float: left;
  background: #fff;
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-theme-zone li:nth-child(even) {
  border-right: none;
}

.snb-theme-zone li a {
  position: relative;
  display: block;
  height: 47px;
  padding: 17px 20px 15px 16px;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-theme-zone li a:hover, .snb-theme-zone li a:active, .snb-theme-zone li a:focus {
  color: #10b6b0;
}

.snb-theme-zone li a::after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 12px;
  background: url(../../web/m/common/ic_arr_right.png) no-repeat right center;
  background-size: 8px;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* snb banner 영역 */
.snb-banner {
  margin-bottom: 20px;
}

.snb-banner img {
  width: 100%;
}

/* snb 하단 퀵메뉴 */
.snb-guide {
  overflow: hidden;
}

.snb-guide li {
  float: left;
  width: 33.33333%;
  background: #fff;
  border-top: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-guide li:nth-child(3n) {
  border-right: none;
}

.snb-guide li:nth-child(1), .snb-guide li:nth-child(2), .snb-guide li:nth-child(3) {
  border-top: none;
}

.snb-guide li a {
  display: block;
  padding: 18px 0 17px;
  height: 80px;
  text-align: center;
  font-size: 12px;
  color: #404040;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-guide li a:hover, .snb-guide li a:active, .snb-guide li a:focus {
  color: #404040;
}

.snb-guide li a::before {
  content: '';
  display: block;
  width: 30px;
  height: 25px;
  margin: 0 auto 8px;
  background: url(../../web/m/common/ic-snb-guide.png) no-repeat left top;
  background-size: auto 50px;
}

.snb-guide li.guide-dawn a::before {
  background-position: 0 top;
}

.snb-guide li.guide-regular a::before {
  background-position: -30px top;
}

.snb-guide li.enterprise a::before {
  background-position: -60px top;
}

.snb-guide li.event a::before {
  background-position: 0 bottom;
}

.snb-guide li.faq a::before {
  background-position: -30px bottom;
}

.snb-guide li.inquiry a::before {
  background-position: -60px bottom;
}

/* 고객센터 */
.snb-cs {
  height: 95px;
  padding: 20px 0 19px 0;
  text-align: center;
  color: #fff;
  background: #27cbc5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.snb-cs h2 {
  font-size: 13px;
}

.snb-cs a {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0.038em;
}

.snb-cs p {
  margin-top: 2px;
  font-size: 12px;
  opacity: 0.8;
}
