/*///////////////////////////////////////////////////////////////////////////////////
//
//  common
//
///////////////////////////////////////////////////////////////////////////////////*/

@font-face{
  font-family:'Noto Sans KR Light';
  font-style:normal;
  font-weight:300;
  src:url('/_cdn/fonts/notokr-light.woff') format('woff'),
  url('/_cdn/fonts/notokr-light.eot') format('opentype');
}
@font-face{
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:400;
  src:url('/_cdn/fonts/notokr-regular.woff') format('woff'),
  url('/_cdn/fonts/notokr-regular.eot') format('opentype');
}
@font-face{
  font-family:'Noto Sans KR Medium';
  font-style:normal;
  font-weight:400;
  src:url('/_cdn/fonts/notokr-medium.woff') format('woff'),
  url('/_cdn/fonts/notokr-medium.eot') format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR Bold';
  font-style: normal;
  font-weight: 400;
  src:url('/_cdn/fonts/notokr-bold.woff') format('woff'),
  url('/_cdn/fonts/notokr-bold.eot') format('opentype');
}

/* reset */
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0; padding: 0;
  border: 0;
  font-weight: normal;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {display:block;}

html {-webkit-text-size-adjust: none;}
body {
  -webkit-text-size-adjust: none;
  word-break: break-all;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px; color: #000; line-height: 1.6em;
  background: #fff;
}

ol, ul, li {list-style:none;}
blockquote, q {quotes:none;}
table {border-collapse:collapse; border-spacing:0;}

/* common */
input[type=checkbox],
input[type=radio]{
  width: 20px; height: 20px;
}

input[type=text],
input[type=email],
input[type=number],
input[type=url],
input[type=password],
input[type=submit],
input[type=button],
input[type=search],
input[type=tel],
textarea{
  -webkit-appearance: none;
  @include border-radius(0);
} /* 아이폰 초기화 */

input[type=search]::-webkit-search-cancel-button {display: none;} /* 아이폰 초기화 */
textarea:focus {color:#444 !important;}

select {
  height: 34px; padding: 0 28px 0 10px;
  color: #333; font-size: 13px; vertical-align:middle;
  border:1px solid #e1e1e1;
  background:url('../../web/m/common/ic_select_arr.png') no-repeat right center #fff;
  background-size: 25px 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include border-radius(0);
  @include box-sizing;
}

a {color:inherit; text-decoration:none;}
a:hover, a:active, a:focus {background:none; text-decoration:none;}

.blind, hr{
  display: block;
  overflow: hidden;
  position: absolute; top: 0; left: -9999em;
  width: 0.1%; height: 0.1%;
  line-height: 0.1%; font-size: 0.1%;
}

.input {
  height: 40px; padding: 0 10px;
  border: 1px solid #e1e1e1; background: #fff;
  font-family: "Noto Sans KR", sans-serif;
  letter-spacing: -0.05em; color: #444; vertical-align: middle;
  @include box-sizing;
  &:focus {color: #444 !important;}
}

/***** placeholder 기본색상 정의  *****/
::-webkit-input-placeholder { /* Chrome */
  color: #bababa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bababa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bababa;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #bababa;
  opacity: 1;
}

.textarea {
  padding: 10px;
  border: 1px solid #ccc;
  background:#fff;
  color:#444;
  line-height:normal !important;
  @include box-sizing;
}
.textarea::-webkit-textarea-placeholder {color:#bfbfbf !important;}

/* common - select */
.select_custom_default {
  position: relative;
  height: 35px; padding: 6px 28px 6px 15px; border: 1px solid #ccc;
  color: #888; font-size: 12px; line-height: 13px;
  background-position: right top;
  @include border-radius(0);
  @include box-sizing;

  &:focus, &:active {
    color: #333; border-color: $color-mint;
  }
}

/* 버튼 공통 스타일  */
.btn-area{
  padding: 0 16px 16px;
}
.btn{
  display: inline-block; border: none;
  font-family: "Noto Sans KR", sans-serif;
  @include box-sizing;
  @include border-radius(0);
}
.btn-large{
  width: 100%; height: 40px;
  font-family: "Noto Sans KR Bold", sans-serif;
  font-size: 14px; letter-spacing: 0;
  @include border-radius(20px);
  @include box-s(0,7px, 10px, rgba(0,0,0,0.2));
  &:hover, &:focus{
    box-shadow: none;
  }
}

.btn-blue{
  background: #20beef; color: #fff;
  &:hover, &:focus{background: #1797bd;}
  &[disabled]{
    background: #6ad7f4;
  }
}
.btn-yellow{
  background: #fee734; color: #000;
  &:hover, &:focus{background: #cbb927;}
  &[disabled]{
    opacity: 0.5;
  }
}


/***** 공통 팝업 *****/
.aws-popup{
  position: relative;
  .popup-wrap {
    padding: 16px;
    img{display: block; width: 100%;}
  }
  .mfp-close{
    text-indent: -3000px;
    opacity: 1.0;
    width: 30px; height: 30px;
    background: url(/_cdn/images/common/ic-close-circle-30-normal@2x.png) no-repeat center center;
    background-size: 30px;
    position: absolute;
    top: auto; right: 13px; bottom: -28px;
    &:hover, &:focus{
      top: auto; right: 13px; bottom: -28px;
    }
  }
}

/***** 공통 타이틀 *****/
h2.title{
  font-family: "Noto Sans KR Medium", sans-serif;
  font-size: 18px; padding: 0 16px;
}

.aws-input[type=text]{
  display: inline-block;
  width: 100%; height: 42px;
  background: #fff; border: 1px solid #e0e5f0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px; color: #000; text-align: center; vertical-align: middle;
  @include box-sizing;
  @include border-radius(4px);
}

/***** 아이프레임 마진 삭제 *****/
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}

/***** [공통] 서브 탭 메뉴 스타일 *****/
.sticky-sub-tab{
  overflow: hidden; z-index: 1000; background: #fff;
  font-family: "Noto Sans KR", sans-serif; letter-spacing: -0.05em;
  li{
    float: left; background: #fff;
    position: relative; display: block;
    min-height: 48px; font-size: 16px; text-align: center; padding-top: 15px;
    border-bottom: 1px solid #e6e6e6;
    @include box-sizing;
    &.on, &:focus{
      color: $color-mint;
      font-family: "Noto Sans KR Bold", sans-serif;
      border-bottom: 2px solid $color-mint;
    }
  }
  &.point-history-tab li,
  &.order-state-tab li{width: 33.3333%}
  &.coupon-box-tab li{
    &:first-child{width: 45%;}
    &:last-child{width: 55%;}
  }
  &.find-tab li{width: 50%;}
  &.new-welcome-tab li{width: 25%;}
}

/***** [공통] 토글 스위치 ******/
.toggle-item{
  position: relative;
  display: inline-block; width: 100%; height: 38px; padding-left: 150px;
  @include box-sizing;

  .toggle-switch[type="checkbox"]{

    /* 체크박스 숨김처리  */
    &:not(:checked), &:checked {position: absolute; left: -9999px;}

    /* 토글 레이블 */
    & + label{
      position: relative; cursor: pointer;
      display: block; min-width: 150px; height: 38px;
      span{
        overflow: hidden; display: inline-block; min-width: 80px;
        font-size: 15px; color: #333; text-align: right;
        position: absolute; right: 76px; top: 50%;
        @include translate(0, -40%);
      }
    }
    /* 토글 스위치 off 스타일 */
    & + label::before{
      content: '';
      display: inline-block;
      position: absolute; right: 0; top: 0;
      width: 66px; height: 38px;
      background: #d9d9d9;
      @include border-radius(22px);
    }
    & + label::after{
      content: '';
      display: inline-block;
      position: absolute; right: 30px; top: 2px;
      width: 34px; height: 34px;
      background: #fff;
      @include border-radius(50%);
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
    }

    /* 토글 스위치 on 스타일 */
    &:checked + label{
      &::before{background: $color-mint;}
      &::after{right: 2px;}
    }
  }
}

/***** [공통] 툴팁 스타일 *****/
.validation-tooltip-box{
  text-align: center;
  .validation-tooltip{
    position: relative; display: inline-block;
    font-size: 13px; color: #fff; text-align: center;
    padding: 6px 15px 4px; background: $color-mint;
    @include border-radius(3px);
    &::after{
      content: '';
      display: inline-block;
      width: 10px; height: 10px; background: $color-mint;
      position: absolute;
      @include rotate(45);
    }
    &.arr-up{
      margin-top: 7px;
      &::after{top: -5px;}
    }
    &.arr-down{
      margin-bottom: 7px;
      &::after{bottom: -5px;}
    }
    &.arr-up, &.arr-down{
      &.left::after{left: 25px;}
      &.center::after{left: 50%; margin-left: -5px;}
      &.right::after{right: 25px;}
    }
    &.arr-left{
      margin-left: 7px;
      &::after{left: -5px;}
    }
    &.arr-right{
      margin-right: 7px;
      &::after{right: -5px;}
    }
    &.arr-left, &.arr-right{
      &.top::after{top: 20px;}
      &.center::after{top: 50%; margin-top: -5px;}
      &.bottom::after{bottom: 20px;}
    }
  }
}

/***** [18-05-08] [공통] 신규 커스텀 체크박스 *****/
.list_block{
  font-family: "Noto Sans KR", sans-serif; font-size: 15px; letter-spacing: -0.05em;
  position: relative;
  li{position: relative;}

  input.custom_chk[type="checkbox"]{
    display: none;
    & + label{position: relative; cursor: pointer;}
    &:not(checked) + label::before {
      content:"";
      display: inline-block; width: 24px; height: 24px; margin-right: 8px;
      border: 1.5px solid #d9d9d9;
      background: url(../../web/m/common/ico-chk-off.png) no-repeat center center #fff;
      background-size: 24px;
      vertical-align: middle;
      @include box-sizing;
    }
    &:checked + label::before{
      border-color: $color-mint;
      background: url(../../web/m/common/ico-chk-on.png) no-repeat center center $color-mint;
      background-size: 24px;
    }
  }

  /* 회원가입 - 약관 동의 */
  &.join{
    background: #fff; border-bottom: 1px solid #e6e6e6;
    li{
      padding: 20px 16px 16px 16px;
      label{position: relative; display: block;}
      &.all-agree{
        border-bottom: 1px solid #e6e6e6;
        label{font-family: "Noto Sans KR Bold", sans-serif;}
      }
      input.custom_chk[type="checkbox"]{
        &:not(:checked) + label:before,
        &:checked + label:before {position: absolute; right:0; top: -3px; margin-right: 0;}
      }
      a{
        display: inline-block;
        font-size: 12px; color: #999; line-height: 1.2em; border-bottom: 1px solid #999;
        position: relative; top: -3px;
        &:hover, &:focus{border-color: $color-mint; color: $color-mint;}
      }
      ul.sub_block{
        li{
          border: none; padding: 0 0 14px;
          &:last-child{padding-bottom: 7px;}
        }
        &.marketing{
          li{
            padding: 0 0 33px;
            &:last-child{padding-bottom: 5px;}
          }
        }
      }
    }

    /* 결제하기 하단 - 동의 */
    .order_agree &{
      margin-top: 15px; padding: 15px 16px 16px;
      li{
        padding: 5px 0;
        &.all-agree{padding-bottom: 17px;}
        ul.sub_block{
          padding-top: 14px;
          li{
            padding-bottom: 20px;
            &:last-child{padding-bottom: 5px;}
          }
        }
        input.custom_chk[type="checkbox"]:not(checked) + label:before {margin-right: 0;}
      }
    }
  }

  /* 로그인 박스 - 아이디 비밀번호 저장 */
  &.login{
    overflow: hidden; margin: 10px 0 19px;
    li{
      float: left; margin-right: 20px; color: #333; font-size: 13px;
      input.custom_chk[type="checkbox"]{
        & + label span{position: relative; top: 1px;}
      }
    }
  }

  /* 회원탈퇴 - 설문조사 */
  &.survey{
    margin-bottom: 20px;
    li{
      margin-right: 20px; color: #888; font-size: 13px; line-height: 2.65em;
      input.custom_chk[type="checkbox"]{
        & + label:before{margin: -2px 7px 0 0;}
      }
    }
  }

  /* 주문자 정보 - 주문관련 SMS 수신 */
  &.reception_sms{
    padding: 5px 0 10px; font-size: 13px;
    input.custom_chk[type="checkbox"]{
      & + label span{position: relative; top: 1px;}
    }
  }

  /* 결제하기 - 배송지 정보 새로 입력 */
  &.new-address-chk{
    padding: 17px 0 10px; font-size: 13px;
    input.custom_chk[type="checkbox"]{
      & + label span{position: relative; top: 1px;}
    }
  }

  /* 소셜로그인 주문완료 - 이메일 마케팅 동의 */
  &.email_marketing{
    overflow: hidden; margin: 13px 0 17px; line-height: 1.6em;
    li{
      float: left; color: #7b7e85; font-size: 13px;
      input[type="checkbox"] + label{
        color: #888; font-size: 13px;
        span{position: relative; top: 1px; color:#333;}
      }
    }
  }

  /* 장바구니 - 전체 선택 */
  &.select-all{
    font-size: 14px;
    input.custom_chk[type="checkbox"]{
      & + label span{position: relative; top: 1px;}
    }
  }

  /* 장바구니 - 레이블이 없는 input */
  &.nolabel{
    float: left; overflow: hidden; margin-right: 8px;
    label{
      position: relative; cursor: pointer;
      input.custom_chk[type="checkbox"]{
        display: block;
        -webkit-appearance: none;
        -moz-appearance: none;
        border: none; background: none;
        width: 24px; height: 24px; margin: 0; cursor: pointer;
        @include border-radius(0);
        @include box-sizing;

        &:not(checked)::before {
          content:"";
          display: inline-block; width: 24px; height: 24px;
          border: 1.5px solid #d9d9d9;
          background: url(../../web/m/common/ico-chk-off.png) no-repeat center center #fff;
          background-size: 24px;
          vertical-align: middle;
          @include box-sizing;
        }
        &:checked::before{
          border-color: $color-mint;
        background: url(../../web/m/common/ico-chk-on.png) no-repeat center center $color-mint;
          background-size: 24px;
        }
      }
    }
  }

  /* 배송 받는 날 선택하기 - 배송요일 */
  &.receipt-day{
    overflow: hidden;
    li{
      float: left; margin-right: 20px; color: #333; font-size: 13px;
      input.custom_chk[type="checkbox"]{
        &:not(checked) + label:before{width: 20px; height: 20px;}
        & + label span{position: relative; top: 1px;}
      }
    }
  }

  /* 배송 받는 날 선택하기 - 배송 요일 확인 버튼 */
  &.cfrm_ok{
    margin-top: 10px;
    input.custom_chk[type="checkbox"]{
      &:not(checked) + label:before{width: 20px; height: 20px;}
      & + label{margin-left: 3px; font-size: 13px;}
    }
  }
}
