/*///////////////////////////////////////////////////////////////////////////////////
//
//  common
//
///////////////////////////////////////////////////////////////////////////////////*/

@font-face{
  font-family:'Noto Sans KR Light';
  font-style:normal;
  font-weight:300;
  src:url('/_cdn/fonts/notokr-light.woff') format('woff'),
  url('/_cdn/fonts/notokr-light.eot') format('opentype');
}
@font-face{
  font-family:'Noto Sans KR';
  font-style:normal;
  font-weight:400;
  src:url('/_cdn/fonts/notokr-regular.woff') format('woff'),
  url('/_cdn/fonts/notokr-regular.eot') format('opentype');
}
@font-face{
  font-family:'Noto Sans KR Medium';
  font-style:normal;
  font-weight:400;
  src:url('/_cdn/fonts/notokr-medium.woff') format('woff'),
  url('/_cdn/fonts/notokr-medium.eot') format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR Bold';
  font-style: normal;
  font-weight: 400;
  src:url('/_cdn/fonts/notokr-bold.woff') format('woff'),
  url('/_cdn/fonts/notokr-bold.eot') format('opentype');
}

/* reset */
html, body, div, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0; padding: 0;
  border: 0;
  font-weight: normal;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {display:block;}

html{-webkit-text-size-adjust: none;}
body{
  -webkit-text-size-adjust: none;
  word-break: break-all;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px; color: #000; line-height: 1.6em;
  background: #fff;
}

ol, ul, li{list-style: none;}
blockquote, q{quotes: none;}
table{border-collapse: collapse; border-spacing:0;}

a{
  color:inherit; text-decoration:none;
  &:hover, &:active, &:focus{
    background: none; text-decoration: none;
  }
}

.blind, hr{
  display: block;
  overflow: hidden;
  position: absolute; top: 0; left: -9999em;
  width: 0.1%; height: 0.1%;
  line-height: 0.1%; font-size: 0.1%;
}

input[type=text],
input[type=email],
input[type=number],
input[type=url],
input[type=password],
input[type=submit],
input[type=button],
input[type=search],
input[type=tel],
textarea{
  -webkit-appearance: none;
  @include border-radius(0);
} /* 아이폰 초기화 */

input[type=search]::-webkit-search-cancel-button{display: none;} /* 아이폰 초기화 */
textarea:focus {color: #333 !important;}

/***** placeholder 기본색상 정의  *****/
::-webkit-input-placeholder { /* Chrome */
  color: #bababa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bababa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bababa;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #bababa;
  opacity: 1;
}

.aws-input[type=text]{
  display: inline-block;
  width: 100%; height: 42px; padding: 2px 16px 0 16px;
  background: #fff; border: 1px solid #e1e1e1;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px; color: #000;
  text-align: left; vertical-align: middle;
  @include box-sizing;
  @include border-radius(4px);

  &:hover, &:focus{border-color: #00bdf1;}
  .error{border-color: #fc4641;}
}

p.caution{
  font-size: 11px; color: #fc4641; line-height: 1.3em;
  padding-top: 10px;
}

.textarea {
  display: inline-block; padding: 16px;
  background: #fff; border: 1px solid #e0e5f0;
  font-size: 12px; color: #000;
  @include box-sizing;
  @include border-radius(4px);
}

/* 버튼 공통 스타일  */
.btn-area{
  padding: 0 16px 16px;
}
.btn{
  display: inline-block; border: none;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.0em;
  @include box-sizing;
  @include border-radius(0);
}
.btn-large{
  width: 100%; height: 40px;
  font-family: "Noto Sans KR Bold", sans-serif;
  font-size: 14px; letter-spacing: 0; padding-top: 4px;
  @include border-radius(20px);
  @include box-s(0,7px, 10px, rgba(0,0,0,0.2));
  &:hover, &:focus{
    box-shadow: none;
  }
}

.btn-blue{
  background: #20beef; color: #fff;
  &:hover, &:focus{background: #1797bd;}
  &[disabled]{
    background: #6ad7f4;
  }
}
.btn-yellow{
  background: #fee734; color: #000;
  &:hover, &:focus{background: #cbb927;}
  &[disabled]{
    opacity: 0.5;
  }
}


/***** 공통 팝업 *****/
.aws-popup{
  position: relative; left: 50%;
  @include translate(-50%, 0);
  display: inline-block;

  .popup-wrap {
    padding: 40px 16px;
    img{display: block; width: 100%;}
    .wrap{
      overflow: hidden; background: #fff;
      h1{
        font-size: 18px; text-align: center;
        margin-bottom: 30px;
      }
    }
  }
  .mfp-close{
    text-indent: -3000px;
    opacity: 1.0;
    width: 30px; height: 30px;
    background: url(/_cdn/images/common/ic-close-circle-30-normal@2x.png) no-repeat center center;
    background-size: 30px;
    position: absolute;
    top: 0; right: 16px;
    &:hover, &:focus{
      top: 0; right: 16px;
    }
  }
  @media (min-width: 500px) and (orientation: landscape){
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 420px; max-height: 90%;
    .popup-wrap{
      padding: 40px;
    }
    .mfp-close{
      top: 38px; right: 0;
      &:hover, &:focus{
        top: 38px; right: 0;
      }
    }
  }
}

/***** 공통 타이틀 *****/
h2.title{
  font-family: "Noto Sans KR Medium", sans-serif;
  font-size: 18px; padding: 0 16px;
}

/***** 아이프레임 마진 삭제 *****/
iframe[name='google_conversion_frame'] {
  height: 0 !important;
  width: 0 !important;
  line-height: 0 !important;
  font-size: 0 !important;
  margin-top: -13px;
  float: left;
}

select {
  height: 34px; padding: 0 28px 0 10px;
  color: #333; font-size: 13px; vertical-align:middle;
  border: 1px solid #e1e1e1;
  background:url('../../web/m/common/ic_select_arr.png') no-repeat right center #fff;
  background-size: 25px 9px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  @include border-radius(0);
  @include box-sizing;
}

/* common - select */
.select_custom_default {
  position: relative;
  height: 35px; padding: 6px 28px 6px 15px; border: 1px solid #ccc;
  color: #888; font-size: 12px; line-height: 13px;
  background-position: right top;
  @include border-radius(0);
  @include box-sizing;

  &:focus, &:active {
    color: #333; border-color: $color-mint;
  }
}
