/***** main page content *****/
.main-slogan{
  font-size: 12px;
  line-height: 16px; text-align: center;
  padding: 20px 0 34px;
  strong{color: #0082c9;}
}

/* 책소개 및 만들기 */
.about-book{
  .build-book{
    position: relative;
    width: 100%; height: auto; padding-top: 70.556%;
    background: url(/_cdn/images/contents/main-visual@2x.png) no-repeat center center;
    background-size: cover;
    padding-left: 16px; margin-top: 16px;
    .text-box{
      position: absolute;
      left: 16px; bottom: 16px;
      h1{
        font-family: "Noto Sans KR Bold", sans-serif;
        font-size: 14px; margin-bottom: 7px;
        & + p{
          font-size: 12px; margin-bottom: 12px;
        }
      }
      .btn-build{
        font-family: "Noto Sans KR Medium", sans-serif;
        position: relative; display: block;
        width: 140px; height: 36px;
        font-size: 13px; text-align: left; line-height: 38px;
        padding-left: 24px;
        @include border-radius(18px);
        @include box-s(0, 0, 10px, rgba(0, 0, 0, 0.6));
        &::after{
          content: '';
          display: block;
          width: 16px; height: 16px;
          background: url(/_cdn/images/common/ic-arrow-btn-16@2x.png) no-repeat center center;
          background-size: 16px;
          position: absolute; right: 10px; top: 50%;
          margin-top: -8px;
        }
        &:hover, &:focus{
          box-shadow: none;
        }
      }
    }
  }

  p.text{
    font-size: 13px;
    padding: 32px 0 10px; margin: 10px 16px 36px;
    background-image: url(/_cdn/images/common/ic-quotes-left@2x.png), url(/_cdn/images/common/ic-quotes-right@2x.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 30px;
    em{
      display: inline-block;
      font-family: "Noto Sans KR Medium", sans-serif;
      font-size: 14px; font-style: normal; color: #0082c9; margin-bottom: 11px;
    }
    strong{
      font-family: "Noto Sans KR Bold", sans-serif;
      color: #0082c9;
    }
  }
  h3.title{
    font-family: "Noto Sans KR Medium", sans-serif;
    font-size: 16px; text-align: center;
    margin-bottom: 23px;
  }
  .count-box{
    margin-bottom: 60px;
    font-size: 38px; color: #00bdf1; text-align: center;
    span{
      display: inline-block;
      width: 38px; height: 57px; margin-right: 0px;
      background: #00bdf1;
      font-family: "Noto Sans KR Bold", sans-serif;
      font-size: 38px; color: #fff; line-height: 60px;
      @include border-radius(5px);
    }
  }
}

/* 메인 - 인스타그램 후기 */
.instar{
  .instar-list{
    overflow: hidden; margin: 10px 10px 24px 16px;
    li{
      display: inline-block;
      float: left; width: 105px; margin-right: 6px;
      a{
        display: block;
        .instar-thumb{
          position: relative;
          width: 105px; height: 105px; margin-bottom: 5px;
          background: #f7f7f7;
          img{display: block; width: 100%;}
          &:after{
            content: '';
            display: block;
            width: 100%; height: 100%;
            border: 1px solid rgba(0,0,0,0.1);
            position: absolute; left: 0; top: 0;
            @include box-sizing;
          }
        }
        .instar-tag{
          font-size: 11px; color: #0082c9;
          min-height: 46px;
        }
      }
    }
  }
}


/***** sub page content *****/

/* 상단 책 이미지 슬라이드 */
.product-top-slide{
  position: relative; overflow: hidden;
  border-bottom: solid 1px #d8d8d8;
  .swiper-container{
    background: #f2f2f2;
    .swiper-slide{
      float: left;
      img{display: block; width: 100%;}
    }
  }
  .swiper-pagination.custom{
    width: 40px; padding: 5px 0 4px;
    font-size: 10px; text-align: center; color: #fff; line-height: 1.0em;
    @include border-radius(6px);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute; bottom: 14px; left: 50%;
    margin-left: -20px;
    .swiper-pagination-current{
      font-family: "Noto Sans KR Bold", sans-serif;
    }
  }
  .swiper-button-prev, .swiper-button-next{
    display: block; width: 26px; height: 26px;
    margin-top: -13px;
    background: url(/_cdn/images/common/ic-swiper-arrow-control@2x.png) no-repeat;
    background-size: auto 27px;
    @include border-radius(13px);
    @include box-s(0, 0, 10px, rgba(0, 0, 0, 0.6));
  }
  .swiper-button-prev{
    background-position: -1px center;
  }
  .swiper-button-next{
    background-position: -28px center;
  }

  dl{
    padding: 24px 16px 20px;
    dt{
      font-family: "Noto Sans KR Bold", sans-serif;
      font-size: 14px;
    }
    dd{
      font-size: 12px;
      &.description{
        color: #9b9b9b; margin-bottom: 6px;
      }
      &.price{
        .sale-price{
          display: inline-block;
          font-family: "Noto Sans KR Bold", sans-serif;
          font-size: 14px; color: #0082c9;
          padding-right: 5px;
        }
        .original-price{
          position: relative; top: -1px;
          font-size: 11px; color: #9b9b9b;
        }

      }
    }
  }
}

/* 우리 아이 이름 */
.input-child-name{
  background: #fafafa;
  padding: 24px 0 20px;
  form{
    padding: 0 16px;
    .input-block{
      margin-bottom: 23px;
      label{
        display: block;
        h2{
          padding: 0; margin-bottom: 20px;
        }
      }
    }
    ul{
      text-align: center; margin-bottom: 26px;
      .list-block{
        position: relative; display: inline-block;
        &:first-child{margin-right: 12px;}

        .radio-gender[type="radio"]{
          /* 라디오 버튼 숨김처리  */
          &:not(:checked), &:checked{position: absolute; left: -9999px;}

          /* checked off */
          & + label{
            position: relative; cursor: pointer;
            display: block; width: 100%;
            @include box-sizing;
            font-size: 13px; text-align: center;
            color: rgba(0, 0, 0, 0.3);
            &::before{
              content: "";
              display: block; width: 156px; height: 156px;
              margin-bottom: 12px;
              @include border-radius(4px);
              @include box-sizing;
            }
            &.girl{
              &::before{
                background: url(/_cdn/images/contents/image-girl@2x.png) no-repeat center center;
                background-size: 148px;
              }
            }
            &.boy{
              &::before{
                background: url(/_cdn/images/contents/image-boy@2x.png) no-repeat center center;
                background-size: 148px;
              }
            }
          }
          /* checked on */
          &:checked + label{
            color: #000;
            &::before{
              border: 2px solid #0082c9;
              @include box-s(0, 3px, 3px, rgba(0, 0, 0, 0.2));
            }
          }
        }

        @media (max-width: 320px){
          &:first-child{margin-right: 6px;}
          .radio-gender[type="radio"]{
            & + label{
              &::before{width: 138px; height: 138px;}
              &.girl, &.boy{
                &::before{background-size: 130px;}
              }
            }
          }
        }
      }
    }
  }
}

/* 책소개 및 구매후기 */
.book-intro{
  .tab-container{
    .tab-list{
      overflow: hidden;
      li{
        float: left; width: 50%; height: 46px;
        font-family: "Noto Sans KR Medium", sans-serif;
        font-size: 14px; text-align: center; line-height: 47px;
        color: rgba(0, 0, 0, 0.3);
        background: #fff;
        border-width: 1px 0;
        border-style: solid;
        border-color: #d8d8d8;
        @include box-sizing;
      }
      li.on{
        background: #00bdf1; border-color: #00bdf1;
        color: #fff;
      }
    }
    .tab-content{
      position: relative; min-height: 150px;
      .content-box{
        padding-bottom: 35px;
        .img-bind{
          position: relative; margin-bottom: 23px;
          min-height: 100px; background: #f8f8f8; text-align: center; line-height: 100px;
          img{display: block; width: 100%;}
          .img-deco{
            width: 19.14%;
            position: absolute; right: 5%; top: 66%;
          }
        }
        h2.sub-title{
          font-family: "Noto Sans KR Bold", sans-serif; font-size: 16px;
          padding: 0 16px 14px;
          & + p{
            font-size: 12px; color:#9b9b9b;
            padding: 0 16px;
          }
        }
      }

      ul.review-list{
        padding: 0 16px;
        li{
          overflow: hidden;
          padding: 16px 0; border-bottom: 1px solid #efeff4;
          a{
            display: block; overflow: hidden;
            .img-thumb{
              position: relative;
              float: left; width: 105px; height: 105px;
              background: #f7f7f7; margin-right: 16px;
              img{display: block; width: 100%;}
              &:after{
                content: '';
                display: block;
                width: 100%; height: 100%;
                border: 1px solid rgba(0,0,0,0.1);
                position: absolute; left: 0; top: 0;
                @include box-sizing;
              }
            }
            .review-text{
              font-size: 12px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              strong{
                display: block; margin-bottom: 5px;
                font-family: "Noto Sans KR Bold", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}

/* 내 아이 책 미리보기 */
.book-preview-slide{
  position: relative; overflow: hidden;
  border-bottom: solid 1px #d8d8d8;
  .swiper-container{
    background: #f2f2f2;
    .swiper-slide{display: block; float: left;}
  }
  .swiper-container-horizontal > .swiper-scrollbar{
    overflow: hidden; height: 8px;
    background: rgba(0, 0, 0, 0.3);
    @include border-radius(4px);
    bottom: 10px;
  }
  .swiper-scrollbar-drag {
    position: relative; left: 0; top: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 0;
  }

  .name-list-wrap{
    padding: 30px 0;
    .name-list{
      white-space: nowrap; overflow-x: auto;
      padding: 0 0 14px 16px; margin-bottom: 14px; text-align: center;
      li{
        position: relative;
        display: inline-block; margin-right: 4px;
        text-align: center;
        strong{
          font-family: "Noto Sans KR Bold", sans-serif;
          font-size: 13px; color: #000;
          font-weight: 900;
        }
        &:last-child{
          strong{
            &::before{
              content: '=';
              display: inline-block;
              position: absolute; left: -7px;
            }
          }
        }
        .btn-thumb{
          position: relative; cursor: pointer;
          width: 58px; height: 58px; padding: 2px;
          background: #fff;
          border: 2px solid #fff;
          @include border-radius(50%);
          &:hover, &:focus, &.on{
            border-color: #0082c9;
            @include box-s(0, 3px, 3px, rgba(0, 0, 0, 0.2));
          }
          .img-bind{
            overflow: hidden; width: 50px; height: 50px;
            background: #ebebeb;
            border: 1px solid #bababa;
            @include border-radius(50%);
            img{
              display: block; width: 100%;
            }
          }
          .btn-change{
            min-width: 42px; height: 18px; padding: 2px 8px 0; line-height: 18px;
            position: absolute; left: 50%; bottom: -5px;
            @include translate(-50%, 0);
            @include border-radius(9px);
            @include box-s(0, 1px, 4px, rgba(129, 85, 23, 0.22));
            &:hover, &:focus{
              box-shadow: none;
            }
          }
        }
        p{font-size: 12px; margin-top: 8px;}
      }
    }
    .name-box{
      overflow: hidden; width: 212px; height: 40px;
      margin: 0 auto; padding: 0 32px;
      background: #fff;
      border: 1px solid #efeff4;

      @include border-radius(20px);
      span{
        float: left;
        font-size: 12px; color: #9b9b9b; line-height: 40px;
      }
      strong{
        float: right;
        font-family: "Noto Sans KR Bold", sans-serif;
        font-size: 18px; color: #0082c9; letter-spacing: 4px; line-height: 40px;
      }
    }
  }
}

/* 캐릭터 변경 팝업 */
#change-character-popup{
  width: 100%;
  .wrap{
    padding: 32px 30px;
    background: #fff;
    @include border-radius(6px);

    ul.change-ani-list{
      padding: 0 25px;
      li{
        margin-bottom: 20px; clear: both;
        &:last-child{
          margin-bottom: 0;
        }
        .btn-thumb{
          float: left; position: relative; cursor: pointer;
          width: 64px; height: 64px; padding: 2px;
          background: #fff;
          border: 2px solid #fff;
          @include border-radius(50%);
          &:hover, &:focus, &.on{
            border-color: #0082c9;
          }
          .img-bind{
            overflow: hidden; width: 56px; height: 56px;
            background: #ebebeb;
            border: 1px solid #bababa;
            @include border-radius(50%);
            img{
              display: block; width: 100%;
            }
          }
        }
        p{
          padding-left: 80px;
          font-size: 14px; line-height: 64px;
        }
      }
    }
  }
  .btn-area{
    padding: 16px 0 0;
  }
  @media (min-width: 500px) and (orientation: landscape){
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 420px; min-width: 400px; max-height: 90%;
    .popup-wrap{
      padding: 40px;
    }
    .mfp-close{
      top: 38px; right: 0;
      &:hover, &:focus{
        top: 38px; right: 0;
      }
    }
  }
}

/* 티노 정체 바꾸기 */
.tino-change{
  background: #f6f6f6; border-bottom: solid 1px #d8d8d8; padding: 23px 0 30px;
  h2.title{
    margin-bottom: 21px;
    & + .btn-more{
      position: absolute; right: 14px; top: 26px;
      font-size: 12px; color: #bababa; line-height: 1.2em;
      padding-right: 20px;
      &::after{
        content: '';
        display: block;
        width: 12px; height: 12px;
        background: url(/_cdn/images/common/ic-arrow-12@2x.png) no-repeat center center;
        background-size: 12px;
        position: absolute; right: 0; top: 0;
      }
    }
  }
  p.text{
    padding: 0 16px; margin-bottom: 24px; font-size: 12px; color: #9b9b9b;
    strong{color: #fc4641;}
  }
  ul.tino-change-input{
    text-align: center;
    .list-block{
      position: relative; display: inline-block; margin-right: 7px;
      &:last-child{margin-right: 0;}

      .radio-tino[type="radio"]{
        /* 라디오 버튼 숨김처리  */
        &:not(:checked), &:checked{position: absolute; left: -9999px;}

        /* checked off */
        & + label{
          position: relative; cursor: pointer;
          display: block; width: 100%;
          font-size: 13px; text-align: center;
          color: rgba(0, 0, 0, 0.3);
          &::before{
            content: "";
            display: block; width: 106px; height: 142px;
            margin-bottom: 12px;
            @include border-radius(4px);
            @include box-sizing;
            opacity: 0.3;
          }
          &.daddy{
            &::before{
              background: url(/_cdn/images/contents/image-daddy@2x.png) no-repeat center center;
              background-size: 73px;
            }
          }
          &.mom{
            &::before{
              background: url(/_cdn/images/contents/image-mom@2x.png) no-repeat center center;
              background-size: 73px;
            }
          }
          &.etc{
            &::before{
              background: url(/_cdn/images/contents/image-etc@2x.png) no-repeat center center;
              background-size: 73px;
            }
          }
        }
        /* checked on */
        &:checked + label{
          color: #000;
          &::before{
            background-color: #fff; border: 2px solid #0082c9;
            opacity: 1.0;
            @include box-s(0, 3px, 3px, rgba(0, 0, 0, 0.2));
          }
        }
      }

      @media (max-width: 320px){
        .radio-tino[type="radio"]{
          & + label{
            letter-spacing: -0.05em;
            &::before{width: 90px; height: 128px;}
            &.daddy, &.mom, &.etc{
              &::before{background-size: 67px;}
            }
          }
        }
      }
    }
  }

  label.etc-tino-input{
    display: none; text-align: center;
    padding: 0 16px; margin-top: 21px;
    input{max-width: 340px;}
  }
}

/* 티노 정체바꾸기 추가설명 팝업 */
#change-guide-popup{
  .wrap{
    padding: 32px 16px 30px;
    .img-bind{
      margin-bottom: 16px;
      img{display: block; width: 100%;}
    }
    p{
      font-family: "Noto Sans KR Light", sans-serif;
      strong{
        font-family: "Noto Sans KR Medium", sans-serif;
        color: #0082c9;
      }
    }
  }
}

/* 책에 인쇄될 페이지 */
.print-letter{
  padding-top: 24px;
  .tab-container{
    margin-top: 16px;
    .tab-list{
      white-space: nowrap; overflow-x: auto;
      padding-left: 16px;
      li{
        cursor: pointer;
        display: inline-block; height: 29px;
        float: left; margin-left: 10px;

        span{
          display: block;
          padding: 2px 6px 3px;
          font-family: "Noto Sans KR Medium", sans-serif;
          font-size: 13px; text-align: center;
          color: rgba(0, 0, 0, 0.3);
        }
      }
      li.on{
        span{color: #000;}
        &::after{
          content: '';
          display: block;
          width: 100%; height: 2px;
          background: #00bdf1;
          @include box-s(0, 1px, 3px, rgba(0, 0, 0, 0.2));
        }
      }
    }
    .tab-content{
      position: relative; min-height: 150px;
      padding: 16px;
      textarea{
        display: block; width: 100%; height: 160px;
        font-family: "Noto Sans KR Light", sans-serif;
        & + .txt-counter{
          position: absolute; right: 26px; bottom: 21px;
          font-size: 10px; color: #9b9b9b;
        }
      }
    }
  }
}

/* 결제 수단 */
.payment{
  padding-bottom: 20px;
  h2{margin-bottom: 20px;}
  .list-block {
    position: relative; padding: 0 16px; margin-bottom: 12px;

    .radio-btn[type="radio"] {
      /* 라디오 버튼 숨김처리  */
      &:not(:checked), &:checked{position: absolute; left: -9999px;}

      /* 버튼 basic */
      & + label{
        position: relative; cursor: pointer;
        display: block; width: 100%; height: 40px;
        background: #fff; border: 1px solid #efeff4;
        @include box-sizing;
        font-size: 12px; text-align: center;
        color: #707070; line-height: 41px;
      }
      /* 버튼 on */
      &:checked + label{
        border: 2px solid #0082c9;
        font-family: "Noto Sans KR Medium", sans-serif;
        color: #0082c9; line-height: 38px;
        @include box-s(0, 2px, 6px, rgba(0,0,0,0.2));
      }
    }
  }
}

