/***** top banner *****/
.header-banner{
  position: relative;
  img{display: block; width: 100%;}
  p{
    background: $color-blue;
    font-size: 14px; color: #fff; line-height: 20px;
    strong{font-family: "Noto Sans KR Bold", sans-serif; color:#ffe900;}
  }
}

/*************** main page content ***************/
.main-slogan{
  font-size: 14px;
  line-height: 1.6em; text-align: center;
  /* padding: 26px 0 25px;*/ padding-bottom: 25px;
  strong{color: $color-blue;}
  img{display: block; width: 100%;}
}

/***** 책소개 및 만들기 *****/
.about-book{
  .build-book{
    position: relative;
    display: block; width: 100%;
    margin-top: 15px;
    img{display: block; width: 100%;}
    .text-box{
      position: absolute;
      left: 16px; bottom: 16px;
      &.color-white{
        color: #fff;
      }
      h1{
        font-family: "Noto Sans KR Bold", sans-serif;
        font-size: 16px; margin-bottom: 3px;
        & + p{
          font-size: 13px; margin-bottom: 12px;
        }
      }
      .btn-build{
        position: relative; display: block;
        background: #fee734; color: #000;
        width: 140px; height: 36px; padding-left: 24px;
        font-family: "Noto Sans KR Bold", sans-serif;
        font-size: 13px; text-align: left; line-height: 38px;
        @include border-radius(18px);
        @include box-s(0, 0, 10px, rgba(0, 0, 0, 0.6));
        &::after{
          content: '';
          display: block;
          width: 16px; height: 16px;
          background: url(../image/common/ic-arrow-btn-16@2x.png) no-repeat center center;
          background-size: 16px;
          position: absolute; right: 10px; top: 50%;
          margin-top: -8px;
        }
      }
    }
  }
  dl.text{
    font-size: 14px; color: #9b9b9b;
    padding: 32px 0 10px; margin: 10px 16px 18px;
    background-image: url(../image/common/ic-quotes-left@2x.png), url(../image/common/ic-quotes-right@2x.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat;
    background-size: 30px;
    dt{
      display: inline-block;
      font-family: "Noto Sans KR Medium", sans-serif;
      color: $color-blue;
    }
    dd{
      &.description{
        margin-bottom: 11px;
      }
      &.price{
        .sale-price{
          display: inline-block;
          font-family: "Noto Sans KR Bold", sans-serif;
          color: $color-blue;
          padding: 0 5px;
        }
        .original-price{
          font-size: 12px;
        }
      }
    }
  }
}

/***** 책 판매수량 카운트 *****/
.counter-box-wrap{
  text-align: center; padding: 18px 16px 36px;
  h2.title{
    margin-bottom: 20px;
  }
}

/***** unboxing area *****/
.unboxing-wrap{
  position: relative;
  img{display: block; width: 100%;}

  h2.title{padding: 0;}
  .mov-bind-wrap{
    position: relative; z-index: 100;
    padding-top: 47.25%;
    margin: 20px 27px;
    border: 10px solid #e5003d;
    @include box-s(0, 0, 20px, rgba(0, 0, 0, 0.3));
    @media screen and (orientation: landscape){
      margin: 20px 50px;
    }
    @media screen and (max-width: 320px){
      border-width: 7px;
    }
    .mov-bind{
      position: absolute; left: 0; top: 0;
      width: 100%; height: 100%;
    }
  }
  .event-content{
    position: relative; overflow: hidden;
    margin-top: -47px;
    @media screen and (orientation: landscape){
      margin-top: -75px;
    }
    h3, p{position: absolute; z-index: -1;}
  }
}

/***** 메인 - 인스타그램 후기 *****/
.instar{
  padding-top: 30px;
  .instar-list{
    overflow: hidden; margin: 10px 0 24px; padding: 0 11px;
    li{
      display: inline-block;
      float: left; width: 33.3333%; padding: 0 5px;
      @include box-sizing;
      @media screen and (max-width: 320px){
        width: 50%;
      }
      @media screen and (orientation: landscape){
        width: 16.6666%;
      }
      a{
        display: block;
        .instar-thumb{
          position: relative;
          width: 100%; height: 100%; margin-bottom: 5px;
          background: #f7f7f7;
          img{display: block; width: 100%;}
          &:after{
            content: '';
            display: block;
            width: 100%; height: 100%;
            border: 1px solid rgba(0,0,0,0.1);
            position: absolute; left: 0; top: 0;
            @include box-sizing;
          }
        }
        .instar-tag{
          font-size: 11px; color: $color-blue;
          height: 40px; margin-bottom: 10px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
  }
}


/*************** sub page content ***************/

/***** sub product page *****/

/* 상단 책 이미지 슬라이드 */
.product-top-slide{
  position: relative; overflow: hidden;
  border-bottom: solid 1px #d8d8d8;
  .swiper-container{
    background: #f2f2f2;
    .swiper-slide{
      float: left;
      img{display: block; width: 100%;}
    }
  }
  .swiper-pagination.custom{
    width: 40px; padding: 5px 0 4px;
    font-size: 10px; text-align: center; color: #fff; line-height: 1.0em;
    @include border-radius(6px);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute; bottom: 14px; left: 50%;
    margin-left: -20px;
    .swiper-pagination-current{
      font-family: "Noto Sans KR Bold", sans-serif;
    }
  }
  .swiper-button-prev, .swiper-button-next{
    display: block; width: 26px; height: 26px;
    margin-top: -13px;
    background: url(../image/common/ic-swiper-arrow-control@2x.png) no-repeat;
    background-size: auto 27px;
    @include border-radius(13px);
    @include box-s(0, 0, 10px, rgba(0, 0, 0, 0.6));
  }
  .swiper-button-prev{
    background-position: -1px center;
  }
  .swiper-button-next{
    background-position: -28px center;
  }

  dl{
    padding: 24px 16px 20px;
    dt{
      font-family: "Noto Sans KR Bold", sans-serif;
      font-size: 14px;
    }
    dd{
      font-size: 12px;
      &.description{
        color: #9b9b9b; margin-bottom: 6px;
      }
      &.price{
        .sale-price{
          display: inline-block;
          font-family: "Noto Sans KR Bold", sans-serif;
          font-size: 14px; color: $color-blue;
          padding-right: 5px;
        }
        .original-price{
          position: relative; top: -1px;
          font-size: 11px; color: #9b9b9b;
        }
      }
    }
  }
}

/* 우리 아이 이름 */
.input-child-name{
  background: #fafafa;
  padding: 24px 0 20px;
  form{
    padding: 0 16px;
    .input-block{
      margin-bottom: 23px;
      h2{padding: 0; margin-bottom: 20px;}
      .input-wrap{
        overflow: hidden;
        input{
          &:first-child{width: 30%; float: left;}
          &:last-child{width: 68%; float: right;}
        }
      }
    }

    ul.gender-select{
      text-align: center; margin-bottom: 26px;
      .list-block{
        position: relative; display: inline-block;
        &:first-child{margin-right: 12px;}

        .radio-gender[type="radio"]{

          /* 라디오 버튼 숨김처리  */
          &:not(:checked), &:checked{position: absolute; left: -9999px;}

          /* checked off */
          & + label{
            position: relative; cursor: pointer;
            display: block;
            font-size: 13px; text-align: center;
            color: rgba(0, 0, 0, 0.3);
            .img-bind{
              width: 156px; padding: 2px; margin-bottom: 12px;
              border: 2px solid transparent;
              @include box-sizing;
              @include border-radius(4px);
              img{display: block; width: 100%;}
            }
          }
          /* checked on */
          &:checked + label{
            color: #000;
            .img-bind{
              border-color: $color-blue;
              @include box-s(0, 3px, 3px, rgba(0, 0, 0, 0.2));
            }
          }
        }
        @media (max-width: 320px){
          &:first-child{margin-right: 6px;}
          .radio-gender[type="radio"]{
            & + label{
              .img-bind{width: 138px;}
            }
          }
        }
      }
    }
  }
}

/* 책소개 및 구매후기 */
.book-intro{
  .tab-container{
    .tab-list{
      overflow: hidden;
      li{
        float: left; width: 50%; height: 46px;
        font-family: "Noto Sans KR Medium", sans-serif;
        font-size: 14px; text-align: center; line-height: 47px;
        color: rgba(0, 0, 0, 0.3);
        background: #fff;
        border-width: 1px 0;
        border-style: solid;
        border-color: #d8d8d8;
        @include box-sizing;
      }
      li.on{
        background: #00bdf1; border-color: #00bdf1;
        color: #fff;
      }
    }
    .tab-content{
      position: relative; min-height: 150px;
      .content-box{
        padding-bottom: 35px;
        &:last-child{
          padding-bottom: 0;
          .img-bind{
            margin-bottom: 0;
          }
        }
        .img-bind{
          position: relative; margin-bottom: 23px;
          min-height: 100px; background: #f8f8f8; text-align: center; line-height: 100px;
          img{display: block; width: 100%;}
          .img-deco{
            width: 19.14%;
            position: absolute; right: 5%; top: 66%;
          }
        }
        h2.sub-title{
          font-family: "Noto Sans KR Bold", sans-serif; font-size: 16px;
          padding: 0 16px 14px;
          & + p{
            font-size: 12px; color:#9b9b9b;
            padding: 0 16px;
          }
        }
      }

      ul.review-list{
        padding: 0 16px;
        li{
          overflow: hidden;
          padding: 16px 0; border-bottom: 1px solid #efeff4;
          a{
            display: block; overflow: hidden;
            .img-thumb{
              position: relative;
              float: left; width: 95px; height: 95px;
              background: #f7f7f7; margin-right: 16px;
              img{
                display: block; width: 100%;
                position: absolute; left: 0; top: 50%;
                @include translate(0, -50%);
              }
              &:after{
                content: '';
                display: block;
                width: 100%; height: 100%;
                border: 1px solid rgba(0,0,0,0.1);
                position: absolute; left: 0; top: 0;
                @include box-sizing;
              }
            }
            .review-text{
              font-size: 12px; line-height: 1.5em;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 4;
              -webkit-box-orient: vertical;
              strong{
                display: block; margin-bottom: 5px;
                font-family: "Noto Sans KR Bold", sans-serif;
              }
            }
          }
        }
      }
    }
  }
}


/***** sub preview page *****/

/* 내 아이 책 미리보기 */
.book-preview-slide{
  position: relative; overflow: hidden;
  border-bottom: solid 1px #d8d8d8;
  .preview-container{
    background: #f2f2f2; padding: 10px 0;
    .preview-wrapper{
      white-space: nowrap;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      img, canvas{
        display: inline-block; vertical-align: middle;
        width: 305px; height: 216px;
        &:first-child{margin-left: 10px;}
        &:nth-child(even) {
          margin-left: 5px;
        }
        @media (min-width: 500px) and (orientation: landscape){
          width: 509px; height: 360px;
        }
      }
      .story-preview-copy{
        display: inline-block;
        width: 100%; height: 216px;
        text-align: center; vertical-align: middle;
        font-size: 13px; color: #999; line-height: 216px;
      }
    }
  }
  .name-list-wrap{
    padding: 30px 0;
    .name-list{
      white-space: nowrap; overflow-x: auto;
      padding: 0 0 14px 16px; margin-bottom: 14px; text-align: center;
      li{
        position: relative;
        display: inline-block; margin-right: 4px;
        text-align: center;
        strong{
          font-family: "Noto Sans KR Bold", sans-serif;
          font-size: 13px; color: #000;
          font-weight: 900;
        }
        &:last-child{
          strong{
            &::before{
              content: '=';
              display: inline-block;
              position: absolute; left: -7px;
            }
          }
        }
        .btn-thumb{
          position: relative; cursor: pointer;
          width: 58px; height: 58px; padding: 2px;
          background: #fff;
          border: 2px solid #fff;
          @include border-radius(50%);
          &:focus, &.on{
            border-color: $color-blue;
            @include box-s(0, 3px, 3px, rgba(0, 0, 0, 0.2));
          }
          .img-bind{
            overflow: hidden; width: 50px; height: 50px;
            background: #ebebeb;
            border: 1px solid #bababa;
            @include border-radius(50%);
            img{
              display: block; width: 100%;
            }
          }
          .btn-change{
            background: #fee734; color: #000;
            min-width: 42px; height: 18px; padding: 2px 8px 0; line-height: 18px;
            position: absolute; left: 50%; bottom: -5px;
            @include translate(-50%, 0);
            @include border-radius(9px);
            @include box-s(0, 1px, 4px, rgba(129, 85, 23, 0.22));
          }
        }
        p{font-size: 12px; margin-top: 8px;}
      }
      &.season2{
        padding: 0 0 14px 0;
        li{
          margin: 0 6px;
          .mid-circle{
            cursor: pointer;
            width: 10px; height: 10px;
            background: #bababa;
            position: absolute; left: -5px; top: -54px;
            @include border-radius(50%);
            &:hover, &:focus, &.on{
              background: $color-blue;
            }
          }
        }
      }
    }
  }
  .name-box{
    overflow: hidden; width: 212px; height: 40px;
    margin: 0 auto; padding: 0 32px;
    background: #fff;
    border: 1px solid #efeff4;

    @include border-radius(20px);
    span{
      float: left;
      font-size: 12px; color: #9b9b9b; line-height: 40px;
    }
    strong{
      float: right;
      font-family: "Noto Sans KR Bold", sans-serif;
      font-size: 18px; color: $color-blue; letter-spacing: 4px; line-height: 40px;
    }
  }
}

/* 캐릭터 변경 팝업 */
#change-character-popup{
  width: 100%;
  .wrap{
    padding: 32px 30px;
    background: #fff;
    @include border-radius(6px);

    ul.change-ani-list{
      padding: 0 25px;
      li{
        margin-bottom: 20px; clear: both;
        &:last-child{
          margin-bottom: 0;
        }
        .btn-thumb{
          float: left; position: relative; cursor: pointer;
          width: 64px; height: 64px; padding: 2px;
          background: #fff;
          border: 2px solid #fff;
          @include border-radius(50%);
          &:hover, &:focus, &.on{
            border-color: $color-blue;
          }
          .img-bind{
            overflow: hidden; width: 56px; height: 56px;
            background: #ebebeb;
            border: 1px solid #bababa;
            @include border-radius(50%);
            img{
              display: block; width: 100%;
            }
          }
        }
        p{
          padding-left: 80px;
          font-size: 14px; line-height: 64px;
        }
      }
    }
  }
  .btn-area{
    padding: 16px 0 0;
  }
  @media (min-width: 500px) and (orientation: landscape){
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 420px; min-width: 400px; max-height: 90%;
    .popup-wrap{
      padding: 40px;
    }
    .mfp-close{
      top: 38px; right: 0;
      &:hover, &:focus{
        top: 38px; right: 0;
      }
    }
  }
}

/* 티노 정체 바꾸기 */
.tino-change{
  background: #f6f6f6; border-bottom: solid 1px #d8d8d8; padding: 23px 0 30px;
  h2.title{
    margin-bottom: 21px;
    & + .btn-more{
      position: absolute; right: 14px; top: 26px;
      font-size: 12px; color: #bababa; line-height: 1.2em;
      padding-right: 20px;
      &::after{
        content: '';
        display: block;
        width: 12px; height: 12px;
        background: url(../image/common/ic-arrow-12@2x.png) no-repeat center center;
        background-size: 12px;
        position: absolute; right: 0; top: 0;
      }
    }
  }
  p.text{
    padding: 0 16px; margin-bottom: 24px; font-size: 12px; color: #9b9b9b;
    strong{color: $color-red;}
  }
  ul.tino-change-input{
    text-align: center;
    .list-block{
      position: relative; display: inline-block; margin-right: 7px;
      &:last-child{margin-right: 0;}

      .radio-tino[type="radio"]{
        /* 라디오 버튼 숨김처리  */
        &:not(:checked), &:checked{position: absolute; left: -9999px;}

        /* checked off */
        & + label{
          position: relative; cursor: pointer;
          display: block; width: 100%;
          font-size: 13px; text-align: center;
          color: rgba(0, 0, 0, 0.3);
          &::before{
            content: "";
            display: block; width: 106px; height: 142px;
            margin-bottom: 12px;
            background: no-repeat center center;
            background-size: 73px;
            @include border-radius(4px);
            @include box-sizing;
            opacity: 0.3;
          }
          &.daddy{
            &::before{
              background-image: url(../image/my-name-ran-away/image-daddy@2x.png);
            }
          }
          &.mom{
            &::before{
              background-image: url(../image/my-name-ran-away/image-mom@2x.png);
            }
          }
          &.etc{
            &::before{
              background-image: url(../image/my-name-ran-away/image-etc@2x.png);
            }
          }
        }
        /* checked on */
        &:checked + label{
          color: #000;
          &::before{
            background-color: #fff; border: 2px solid $color-blue;
            opacity: 1.0;
            @include box-s(0, 3px, 3px, rgba(0, 0, 0, 0.2));
          }
        }
      }

      @media (max-width: 320px){
        .radio-tino[type="radio"]{
          & + label{
            letter-spacing: -0.05em;
            &::before{width: 90px; height: 128px;}
            &.daddy, &.mom, &.etc{
              &::before{background-size: 67px;}
            }
          }
        }
      }
    }
  }

  label.etc-tino-input{
    display: none; text-align: center;
    padding: 0 16px; margin-top: 21px;
    input{max-width: 340px;}
  }
}

/* 티노 정체바꾸기 추가설명 팝업 */
#change-guide-popup{
  .wrap{
    padding: 32px 16px 30px;
    .img-bind{
      margin-bottom: 16px;
      img{display: block; width: 100%;}
    }
    p{
      font-family: "Noto Sans KR Light", sans-serif;
      strong{
        font-family: "Noto Sans KR Medium", sans-serif;
        color: $color-blue;
      }
    }
  }
}

/* 책에 인쇄될 페이지 */
.print-letter{
  padding-top: 24px;
  .tab-container{
    margin-top: 16px;
    .tab-list{
      white-space: nowrap; overflow-x: auto;
      padding-left: 16px;
      li{
        cursor: pointer;
        display: inline-block; height: 29px;
        margin-left: 10px;

        span{
          display: block;
          padding: 2px 6px 3px;
          font-family: "Noto Sans KR Medium", sans-serif;
          font-size: 13px; text-align: center;
          color: rgba(0, 0, 0, 0.3);
        }
      }
      li.on{
        span{color: #000;}
        &::after{
          content: '';
          display: block;
          width: 100%; height: 2px;
          background: #00bdf1;
          @include box-s(0, 1px, 3px, rgba(0, 0, 0, 0.2));
        }
      }
    }
    .tab-content{
      position: relative; min-height: 150px;
      padding: 16px;
      textarea{
        display: block; width: 100%;
        font-family: "Noto Sans KR Light", sans-serif;
        & + .txt-counter{
          position: absolute; right: 26px; bottom: 21px;
          font-size: 10px; color: #9b9b9b;
        }
      }
    }
  }
}

/* 외부 사이트 - 사진 추가 */
.external-add-photo{
  padding-top: 8px;
  h2{margin-bottom: 20px;}
  .photo-guide{
    padding: 0 16px 16px;
    img{
      display: block; width: 100%;
    }
  }
  ul.photo-box{
    margin: 0 16px 24px;
  }
}

/***** 악세서리 추가 페이지 *****/
.add-book-acce{
  overflow: hidden; padding-bottom: 60px;
  h2.title{
    margin: 32px 0 16px;
  }
  ul.book-acce-list{
    overflow: hidden; padding: 0 16px;
    .list-block {
      position: relative;
      width: 50%; margin-bottom: 16px;
      @include box-sizing;
      &:nth-child(odd){float: left; padding-right: 7px;}
      &:nth-child(even){float: right; padding-left: 7px;}

      .add-acce-chk[type="radio"] {
        /* 라디오 버튼 숨김처리  */
        &:not(:checked), &:checked{position: absolute; left: -9999px;}

        /* 버튼 basic */
        & + label{
          position: relative; cursor: pointer;
          overflow: hidden; display: block;
          background: #fff;
          @include box-sizing;
          @include border-radius(6px);
          @include box-s(0, 2px, 6px, rgba(0,0,0,0.2));

          .img-area{
            overflow: hidden;
            position: relative; padding-top: 56.25%;
            &:after{
              content: '';
              display: block;
              width: 100%; height: 1px;
              background: rgba(0,0,0,0.15);
              position: absolute; left: 0; bottom: 0;
            }
            img{
              display: block; width: 100%; height: auto;
              position: absolute; left: 0; top: 50%;
              @include translate(0, -50%);
            }
          }
          dl{
            position: relative; padding: 10px;
            dt{font-size: 13px; margin-bottom: 4px;}
            dd{
              &.description{
                font-size: 11px; color: #9b9b9b; line-height: 1.4em;
                .notice{color: $color-red;}
                span{
                  display: block;
                  & + span{margin-top: 5px;}
                }
              }
              &.price{
                position: absolute; right: 10px; top: 9px;
                .sale-price{
                  float: right; display: inline-block;
                  font-family: "Noto Sans KR Bold", sans-serif;
                  font-size: 13px; color: $color-blue;
                  padding-left: 8px;
                }
                .original-price{
                  position: relative; top: 1px;
                  font-size: 11px; color: #9b9b9b;
                }
              }
            }
          }

          .img-chk{
            overflow: hidden; width: 20px; height: 20px;
            background: url(../image/common/ic-check-circle-26-normal@2x.png) no-repeat center center;
            background-size: 20px;
            position: absolute; right: 12px; top: 12px;
            @include box-sizing;
            @include border-radius(50%);
          }
        }
        /* 버튼 on */
        &:checked + label{
          .img-chk{
            background-image: url(../image/common/ic-check-circle-26-select@2x.png);
            background-size: 20px;
            @include box-s(0, 2px, 6px, rgba(0,0,0,0.2));
          }
          &:after{
            content: '';
            display: block;
            width: 100%; height: 100%;
            border: 2px solid $color-blue;
            position: absolute; left: 0; top: 0;
            @include box-sizing;
            @include border-radius(6px);
          }
        }
      }
    }
    @media screen and (max-width: 320px){
      padding: 0 16px;
      li.list-block{
        display: inline-block;
        width: 100%; padding: 0 !important;
      }
    }
  }
}


/***** sub cart page *****/

/* 주문상품 */
.cart-list-wrap{
  padding: 30px 0 0; border-bottom: 1px solid #d8d8d8;
  h2.title{margin-bottom: 16px;}
  .cart-list{
    padding: 0 16px;
    li{
      position: relative;
      border: 1px solid #efeff4;
      padding: 16px; margin-bottom: 23px;
      &:last-child{margin-bottom: 0;}

      .img-thumb{
        width: 56px; height: 56px;
        position: absolute; right: 16px; top: 16px;
        img{display: block; width: 100%;}
      }
      dl{
        dt{
          font-family: "Noto Sans KR Medium", sans-serif;
          font-size: 14px;
          margin-bottom: 8px;
        }
        dd{
          font-size: 12px; color: #707070;
          margin-bottom: 18px; line-height: 1.0em;
          a{
            display: block;
            font-family: "Noto Sans KR Light", sans-serif;
            font-size: 11px; color: $color-blue;
            margin-top: 9px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
      .btn-order-delete{
        overflow: hidden;
        width: 20px; height: 20px;
        text-indent: -3000px;
        background: url(../image/common/ic-close-circle-red-20-normal@2x.png) no-repeat center center #fff;
        background-size: 20px;
        @include border-radius(50%);
        position: absolute; right: -10px; top: -10px;
        &:hover, &:focus{
          background-image: url(../image/common/ic-close-circle-red-20-press@2x.png);
          background-size: 20px;
        }
      }
    }
  }
  .btn-area{
    padding: 16px 16px 20px; text-align: center;
  }
}

/* 주문 절차 및 결재금액 */
.order-information{
  padding: 24px 0 0;
  h2{padding: 0; margin-bottom: 5px;}
  .order-process{
    padding: 0 16px 46px;
    p.text{font-size: 11px; color: $color-red; margin-bottom: 8px;}
    ul{
      overflow: hidden; padding-top: 15.76%;
      background: url(../image/contents/order-process@2x.png) no-repeat center top;
      background-size: 100%;
      li{
        float: left;
        font-size: 11px; text-align: center;
        &:nth-child(1){width: 20%; margin-right: 6%;}
        &:nth-child(2){width: 20%; margin-right: 6%;}
        &:nth-child(3){width: 20%; margin-right: 8%;}
        &:nth-child(4){width: 20%;}
      }
    }
  }
  .coupon-input{
    padding: 0 16px 40px;
    p.text{font-size: 12px; color: $color-blue;}
    .input-block{
      margin: 18px 0 0;
      label{
        display: inline-block; float: left;
        width: 80%; padding-right: 9px;
      }
      .btn-blue-line{
        display: inline-block; float:left;
        width: 20%; height: 42px;
        background: #fff; border: 2px solid $color-blue;
        font-family: "Noto Sans KR Medium", sans-serif;
        font-size: 12px; color: $color-blue; line-height: 38px;
        @include box-s(0, 2px, 6px, rgba(0,0,0,0.2));
      }
      .caution{
        clear: both;
      }
    }

    &.xmas{
      position: relative;
      padding: 25px 16px 20px; margin-bottom: 40px;
      background: url(../image/contents/coupon-input-bg.png) repeat-x left top #ffeae9;
      background-size: 100%;
      h2.title{
        font-family: "Noto Sans KR Bold", sans-serif; color: #008964;
        & + p{
          font-size: 12px; color: #000; letter-spacing: -0.05em;
          strong{font-family: "Noto Sans KR Medium", sans-serif; font-size: 13px;}
          position: absolute; z-index: 10;
        }
      }
      .input-block{
        margin-top: 64px;
        .label-wrap{
          padding-right: 80px;
          label{
            position: relative; display: inline-block; width: 100%; padding: 5px;
            background: url(../image/contents/coupon-input-border.png) repeat-x left bottom;
            background-size: auto 42px;
            @include box-sizing;
            .aws-input{
              height: 32px; border: none;
              @include border-radius(0);
            }
            &::before{
              content: '';
              display: block;
              width: 48px; height: 38px;
              background: url(../image/contents/coupon-input-border-deco.png) no-repeat right top;
              background-size: auto 38px;
              position: absolute; right: 0; top: -38px;
            }
          }
        }
        .btn-white{
          position: relative;
          display: inline-block; float: right;
          width: 73px; height: 42px;
          background: #fff;
          font-family: "Noto Sans KR Bold", sans-serif;
          font-size: 12px; color: #e6003d; line-height: 38px;
          &::before{
            content: '';
            display: block;
            width: 77px; height: 52px;
            background: url(../image/contents/coupon-input-btn-deco.png) no-repeat left top;
            background-size: auto 52px;
            position: absolute; left: 0; top: -52px;
          }
        }
      }
    }
  }

  .total-payment{
    padding: 0 16px 38px;
    .payment-details{
      margin-top: 14px;
      font-size: 12px; line-height: 2.0em;
      dt{
        float: left; color: #9b9b9b;
        &.coupon-sale{
          padding: 12px 0 8px; margin-top: 10px;
        }
        &.total{
          padding: 10px 0;
        }
        strong{
          font-family: "Noto Sans KR Medium", sans-serif;
          color: #000;
        }
      }
      dd{
        color: #000; text-align: right;
        &.coupon-sale{
          color: $color-blue;
          padding: 12px 0 8px; margin-top: 10px;
          border-top: 1px dashed #dcdcdc;
          .btn-delete{
            min-width: 38px; min-height: 20px;
            padding: 2px 0 0; margin-left: 5px;
            position: relative; top: -2px;
            font-size: 9px; color: #707070;
            background: #fff; border: 1px solid #bababa;
            @include border-radius(2px);
            &:hover, &:focus{
              background: #bababa; color: #fff;
            }
          }
        }
        &.total{
          font-family: "Noto Sans KR Bold", sans-serif;
          font-size: 16px; color: $color-red;
          padding: 10px 0;
          border-top: 1px solid #d8d8d8;
        }
      }
    }
  }
  .orderer-info{
    padding: 0 16px;
    h2{
      margin-bottom: 16px;
      span{color: $color-red;}
    }
    .input-block{
      label.phone-number{display: block; margin-bottom: 16px;}
      & + p.text{
        font-family: "Noto Sans KR Light", sans-serif;
        font-size: 11px; color: #707070;
        padding-left: 27px; margin-bottom: 32px;
      }
    }
  }
}


/***** sub order page *****/

/* 배송 정보 */
.delivery-info{
  padding: 24px 0 0; margin-bottom: 40px;
  .input-form{
    padding: 0 16px;
    li{
      overflow: hidden; padding: 15px 0 0;
      label{
        display: block; float: left;
        padding-left: 7px; margin-bottom: 7px;
        span{color: $color-red;}
      }
      .btn-text{
        float: right;
        background: transparent; border: none;
        font-size: 11px; color: $color-blue; line-height: 1.7em;
      }
      .aws-input.address{margin-bottom: 5px;}
    }
  }
}

/* 결제 수단 */
.payment{
  padding-bottom: 20px;
  h2{margin-bottom: 20px;}
  .list-block {
    position: relative; padding: 0 16px; margin-bottom: 12px;

    .radio-btn[type="radio"] {
      /* 라디오 버튼 숨김처리  */
      &:not(:checked), &:checked{position: absolute; left: -9999px;}

      /* 버튼 basic */
      & + label{
        position: relative; cursor: pointer;
        display: block; width: 100%; height: 40px;
        background: #fff; border: 1px solid #efeff4;
        @include box-sizing;
        font-size: 12px; text-align: center;
        color: #707070; line-height: 41px;
      }
      /* 버튼 on */
      &:checked + label{
        border: 2px solid $color-blue;
        font-family: "Noto Sans KR Medium", sans-serif;
        color: $color-blue; line-height: 38px;
        @include box-s(0, 2px, 6px, rgba(0,0,0,0.2));
      }
    }
  }
}

/* 주문완료 */
.order-finish{
  max-width: 600px; margin: 0 auto; padding: 40px 0 0;
  h2.title{font-size: 21px; text-align: center; margin-bottom: 24px;}
  p{
    padding: 0 16px;
    font-family: "Noto Sans KR Light", sans-serif;
    font-size: 16px; text-align: center; line-height: 1.6em;
    strong{
      display: block; font-size: 16px;
      color: $color-blue;
      margin-bottom: 10px;
    }
  }
  dl{
    margin: 0 16px; font-size: 13px;
    border-top: 1px solid #efeff4;
    dt{
      float: left; padding: 10px 16px;
      width: 100px;
      font-family: "Noto Sans KR Medium", sans-serif;
      @include box-sizing;
    }
    dd{
      padding: 10px 10px 10px 100px;
      border-bottom: 1px solid #efeff4;
    }
  }
}
.join-awesomestory{
  overflow: hidden; padding: 60px 16px;
  h2.title{
    margin-bottom: 16px;
    & + p{
      padding: 0;
    }
  }
  ul{
    margin: 30px 0 0; text-align: center;
    li{
      display: inline-block; margin: 0 5px;
      a{
        display: block; overflow: hidden;
        width: 60px; height: 60px; text-indent: -3000px;
        background: url(../image/contents/sns-icon.png) no-repeat;
        background-size: auto 60px;
        &.facebook{background-position: 0 0;}
        &.instargram{background-position: -130px 0;}
        &.blog{background-position: -195px 0;}
      }
    }
  }
}

/***** sub mypage *****/

/* 주문 정보 확인 - 로그인 */
.order-confirm{
  padding: 24px 0 40px;
  .input-form{
    padding: 5px 16px 25px;
    ul{
      margin-bottom: 16px;
      li{
        overflow: hidden; padding: 15px 0 0;
        label{
          display: block; float: left;
          padding-left: 7px; margin-bottom: 7px;
        }
      }
    }
    .btn-area{padding: 0;}
  }
  p.text{
    font-size: 12px; color: $color-red;
    padding: 0 16px; text-align: center;
  }
}

/* 주문 목록 */
.order-list-wrap{
  padding: 30px 0;
  h2.title{margin-bottom: 12px;}
  .btn-area{padding: 0;}

  .order-list-box{
    position: relative;
    margin: 0 16px 16px; padding: 20px 16px;
    border: 1px solid #efeff4;
    dl{
      overflow: hidden; margin-bottom: 10px;
      font-size: 12px;
      dt{
        float: left; width: 60px; margin-bottom: 10px;
        font-family: "Noto Sans KR Medium", sans-serif;
        clear: right;
        &:first-child{
          display: block; width: 100%; clear: both; margin-bottom: 16px;
          font-family: "Noto Sans KR Light", sans-serif;
          font-size: 16px;
        }
      }
      dd{
        padding-left: 70px; margin-bottom: 10px;
        color: #707070; text-align: right;
        a{
          color: $color-blue;
          &:hover, &:focus{
            text-decoration: underline;
          }
        }
      }
    }
  }
}

/* 주문상품상세 - 상품별 상세 */
.order-detail-wrap{
  padding: 30px 0 0;
  h2.title{margin-bottom: 12px;}
  .order-detail-box{
    position: relative;
    min-height: 100px;
    margin: 0 16px 16px; padding: 16px;
    border: 1px solid #efeff4;
    @include box-sizing;
    .img-thumb{
      width: 66px; height: 66px;
      position: absolute; right: 16px; top: 16px;
      img{display: block; width: 100%;}
    }
    dl.book-info{
      padding-right: 66px; margin-bottom: 16px;
      dt{
        font-family: "Noto Sans KR Medium", sans-serif;
        font-size: 14px;
        margin-bottom: 8px;
      }
      dd{
        font-size: 12px; color: #707070;
        margin-bottom: 18px; line-height: 1.0em;
        strong{
          display: block; margin-top: 4px;
          font-family: "Noto Sans KR Light", sans-serif;
          font-size: 11px;
        }
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
    dl.book-content{
      border-top: 1px solid #efeff4;
      padding-top: 16px;
      dt{
        font-family: "Noto Sans KR Medium", sans-serif;
        margin-bottom: 7px;
      }
      dd{
        position: relative; margin-bottom: 10px;
        color: #707070;
        ul.input-block{
          overflow: hidden;
          li{
            float: left; margin-right: 16px;
            &:last-child{margin-right: 0;}
          }
          & + label .aws-input{
            font-size: 12px;
          }
        }
        .textarea{
          display: block;
          width: 100%;
          & + .txt-counter{
            font-size: 10px; color: #9b9b9b;
            text-align: right; padding: 3px 5px 0 0;
          }
        }
      }
      & + .btn-area{
        padding: 0 0 8px; margin-top: 16px;
      }
    }
  }

  &.external-site{
    h2{
      margin-bottom: 5px;
      & + p{
        padding: 0 16px; margin-bottom: 12px;
        font-size: 11px; color: $color-blue;
      }
    }
    .order-detail-box{
      & + p.notice{
        padding: 0 16px; margin-top: -5px; margin-bottom: 20px; text-align: center;
        font-size: 11px; color: $color-red;
      }
      dl.book-info{
        margin-bottom: 0;
        dt{
          span{
            font-family: "Noto Sans KR", sans-serif;
            font-size: 12px;
          }
        }
        dd{
          margin-bottom: 14px;
          &.book-info-area{
            margin-bottom: 0;
            color: #20beef;
            .btn-book-info{
              font-size: 12px;
              padding: 7px 10px 4px; margin-top: 15px;
              @include border-radius(12px);
              @include box-sizing;
            }
          }
        }
      }
    }
  }
}

/* input file common style */
ul.photo-box{
  overflow: hidden;
  li{
    position: relative; overflow: hidden;
    float: left; margin: 0 10px 10px 0;
    &:last-child{margin-right: 0;}

    .preview-image{
      input[type="file"]{
        position: absolute; overflow: hidden;
        width: 1px; height: 1px; border: 0;
        padding: 0; margin: -1px;
        clip: rect(0,0,0,0);
        & + label.user-editable{
          cursor: pointer;
          position: relative; float: left;
          display: block; width: 80px; height: 80px;
          @include border-radius(2px);
          @include box-sizing;
          span{
            display: block; width: 100%; text-align: center;
            font-size: 12px; color: $color-blue; line-height: 1.2em; margin-top: 0;
            position: absolute; left: 0; top: 50%;
            @include translate(0, -50%);
          }
          &::after{
            content: '';
            display: inline-block;
            width: 100%; height: 100%;
            position: absolute; left: 0; top: 0;
            border: 1px solid rgba(0,0,0, 0.1);
            background: url(../image/common/ic-photo-add-20-normal@2x.png) no-repeat 59px 59px;
            background-size: 20px;
            @include border-radius(2px);
            @include box-sizing;
          }
        }
      }
    }

    .upload-display{
      float: left; position: relative;
      .upload-thumb-wrap{
        position: relative; overflow: hidden;
        width: 80px; height: 80px;
        @include border-radius(2px);
        @include box-sizing;
        img{
          display: block; height: 100%;
          position: absolute; left: 50%; top: 50%;
          @include translate(-50%, -50%);
        }
        &::after{
          content: '';
          display: block;
          width: 100%; height: 100%;
          position: absolute; top:0; left: 0;
          border: 1px solid rgba(0,0,0,0.1);
          @include border-radius(2px);
          @include box-sizing;
        }
      }
      .btn-photo-delete{
        overflow: hidden;
        width: 20px; height: 20px; text-indent: -3000px;
        position: absolute; right: -1px; bottom: -1px;
        background: url(../image/common/ic-photo-delete-20-normal@2x.png) no-repeat center center;
        background-size: 20px;
        &:hover, &:focus{
          background-image: url(../image/common/ic-photo-delete-20-press@2x.png);
        }
      }

      canvas {
        position: absolute; left:0; top:0;
        display: block;
        background-color: white;
      }
    }
  }
}

/* 주문상품상세 - 배송정보 */
.delivery-info-wrap{
  padding-top: 16px;
  h2.title{margin-bottom: 12px;}
  .delivery-info-box{
    margin: 0 16px 16px; padding: 16px 16px 10px;
    border: 1px solid #efeff4;
    h3{
      font-family: "Noto Sans KR Light", sans-serif;
      font-size: 16px; margin-bottom: 16px;
    }
    dl{
      dt{
        float: left; padding: 5px 0;
        font-family: "Noto Sans KR Medium", sans-serif;
        /*color: #9b9b9b;*/
      }
      dd{
        padding: 5px 0 5px 64px;
        color: #707070;
        a{
          color: $color-blue;
          &:hover, &:focus{
            text-decoration: underline;
          }
        }
      }

      &.modify{
        dt{padding: 8px 0 0;}
        dd{
          padding: 0 0 0 80px; margin-bottom: 11px;
          .aws-input{
            margin-bottom: 5px;
            font-size: 12px; height: 36px;
          }
        }
        & + .btn-area{
          padding: 0 0 8px; margin-top: 16px;
        }
      }
    }
  }
}

/* 주문상품상세 - 주문취소 및 목록 버튼영역 */
.btn-area{
  &.order-cancel{
    padding-top: 10px;
    button{margin-bottom: 3px;}
  }
  &.btn-back-order{
    padding: 16px 16px 30px; text-align: center;
  }
}

/* 주문 취소 */
.order-cancel-wrap{
  padding: 30px 0 0;
  h2.title{margin-bottom: 12px;}
  .btn-area{padding-top: 10px;}
  .order-cancel{
    position: relative;
    margin: 0 16px 16px; padding: 16px 16px 6px;
    border: 1px solid #efeff4;
    h3{
      font-family: "Noto Sans KR Light", sans-serif;
      font-size: 16px; margin-bottom: 16px;
    }
    dl{
      overflow: hidden;
      font-size: 12px;
      dt{
        float: left; max-width: 80px; margin-bottom: 10px;
        font-family: "Noto Sans KR Medium", sans-serif;
        clear: right;
      }
      dd{
        padding-left: 80px; margin-bottom: 10px;
        color: #707070; text-align: right;
        textarea{
          display: block; width: 100%;
        }
        .aws-input{
          font-size: 12px; height: 36px;
          padding: 0 16px;
        }
      }
      &.pay-detail{
        border-top: 1px solid #efeff4; padding-top: 10px;
      }
      &.refund-account{
        dt{padding-top: 10px;}
      }
    }
  }
}

/***** rule *****/
.rule-wrap{
  padding: 0 16px;
  color: #333; letter-spacing: -0.05em;

  .rule-title{
    display: inline-block;
    font-family: "Noto Sans KR Bold", sans-serif;
    font-size: 18px;
    margin: 20px 0 10px;
    border-bottom: 1px solid #333;
  }
  .rule{
    &.privacy{
      & > ol > li {list-style-type: hangul; margin-left: 4px; margin-bottom: 10px;}
    }
    h2{
      font-family: "Noto Sans KR Bold", sans-serif;
      font-size: 14px;
      margin-bottom: 10px; margin-top: 20px;
    }
    p{
      font-size: 12px; text-align: justify; line-height: 1.6em;
      margin: 10px 0 0;
    }
    li {
      font-size: 12px; text-align: justify; line-height: 1.7em;
      margin-bottom: 2px;
    }
    ol{
      margin: 15px 0 20px; padding-left: 10px;
      list-style: decimal outside;
      & > li {
        list-style-type: decimal;
      }
      ul{
        margin: 10px 10px 15px; padding-left: 10px;
        list-style: square outside;
        & > li{
          list-style-type: square;
          & > ul {
            margin: 10px 10px 15px; padding-left: 10px;
            list-style: circle outside;
            & > li {
              list-style-type: circle;
            }
          }
        }
      }
    }
  }
}

