#skip_navigation{
  display:block;
  width: 100%; padding: 7px 0;
  background: $color-blue;
  color: #fff; text-align: center; font-size: 14px;
  position: absolute; left: -9999px;
  &:hover, &:active, &:focus{
    position: static; width: auto; height: auto;
  }
}

/***** layout *****/
#wrapper {
  position: relative; margin: 0 auto;
  min-width: 320px; max-width: 750px;
  width: 100%; background: #fff;
  @media (min-width: 500px) and (orientation: landscape){
    @include box-s(0, 0, 4px, rgba(0, 0, 0, 0.2));
  }
}

#header{
  overflow: hidden; position: relative; z-index: 9999;
  height: 38px; background: #fff;
  @include box-s(0, 1px, 1px, rgba(0, 0, 0, 0.1));
  h1{
    text-align: center;
    a{
      display: inline-block;
      height: 38px; padding: 8px 0 7px;
      img{height: 23px;}
    }
  }
  .btn-menu, .btn-cart{
    display: block;
    position: absolute; top: 7px;
    width: 24px; height: 24px; text-indent: -3000px;
    background: no-repeat center center;
    background-size: 24px;
  }
  a.btn-menu{
    left: 13px;
    background-image: url(../image/common/ic-menu-24-normal@2x.png);
    &:hover, &:focus{
      background-image: url(../image/common/ic-menu-24-press@2x.png);
    }
  }
  a.btn-cart{
    right: 16px;
    background-image: url(../image/common/ic-cart-24-normal@2x.png);
    &:hover, &:focus{
      background-image: url(../image/common/ic-cart-24-press@2x.png);
    }
    .count-circle{
      display: inline-block;
      min-width: 14px; height: 14px; padding: 0 3px;
      background: $color-red; color: #fff;
      font-family: Arial, Baskerville, monospace, sans-serif; font-weight: 400;
      font-size: 10px; text-align: center; line-height: 15px; text-indent: 0;
      @include border-radius(7px);
      position: absolute; right: -3px; top: 0;
    }
  }
}

#container{
  position: relative;
}
.content{
  position: relative;
  min-height: 90px;
}

#footer{
  position: relative;
  background: #f7f7f7;
  padding: 16px 20px 20px; font-size: 11px;

  ul.footer-lnb{
    overflow: hidden;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 11px; margin-bottom: 16px;
    li{
      float: left;
      a{
        display: block; margin-right: 20px; font-size: 13px;
        strong{font-family: "Noto Sans KR Medium", sans-serif;}
      }
    }
  }
  h2{
    font-family: "Noto Sans KR Bold", sans-serif; font-size: 13px;
    margin-bottom: 4px;
  }
  ul.footer-info li{
    line-height: 2.0em; letter-spacing: -0.03em;
  }
  .copyright{
    text-align: center; letter-spacing: 0;
    border-top: 1px solid #d8d8d8;
    padding-top: 10px; margin-top: 13px;
  }
}

/***** SNB Menu *****/

.menu-over{
  display: none;
  width: 100%; height: 100%;
  position: fixed; left: 0; top: 0; z-index: 9999;
  background: rgba(0, 0,0, 0.5);
  -webkit-transition: all ease 1s;
  -moz-transition: all ease 1s;
  transition: all ease 1s;
}
.menu{
  overflow: auto;
  position: fixed;
  top: 0; left: -100%; z-index: 10000;
  width: 260px; max-width: 90%; height: 100%;
  background: #3f96d4;
  box-shadow: 1px 0 5px rgba(0,0,0,0.7);
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;

  @media screen and (min-width: 320px), (orientation: landscape) {
    .menu {width: 320px;}
  }
  .snb-header{
    h1{
      text-align: center; padding: 18px 0; margin-bottom: 60px;
      border-bottom: 1px solid #72afda;
      img{display: inline-block; width: 96px;}
    }
    .close-menu{
      display: block; overflow: hidden;
      position: absolute; right: 6px; top: 6px;
      width: 24px; height: 24px; text-indent: -3000px;
      background: url(../image/common/ic-close-line-20-normal@2x.png) no-repeat center center;
      background-size: 20px;
    }
  }
  .snb-menu-list{
    li{
      margin-bottom: 20px;
      a{
        display: block;
        font-family: "Noto Sans KR Medium", sans-serif;
        font-size: 14px; color: #fff; letter-spacing: -0.03px; line-height: 2.0em;
        padding: 0 20px;
      }
    }
  }
  p.menu-bottom{
    position:absolute; bottom: 0;
    font-size: 12px; color: #fff; padding: 0 20px; margin-bottom:40px;
    @media screen and (max-height: 500px) {
      position: relative;
    }
  }
}
